[2018-07-05 16:34] michelvocks opened #1 "test: Unit-Tests for pipeline package"
We need tests for the whole [pipeline package](https://github.com/gaia-pipeline/gaia/tree/master/pipeline).

Please use the standard test framework for this: https://golang.org/pkg/testing/

[2018-07-05 16:35] michelvocks opened #2 "test: Unit-Tests for plugin package"
We need tests for the whole [plugin package](https://github.com/gaia-pipeline/gaia/tree/master/plugin).

Please use the standard test framework for this: https://golang.org/pkg/testing/

[2018-07-05 16:35] michelvocks opened #3 "test: Unit-Tests for scheduler package"
We need tests for the whole [scheduler package](https://github.com/gaia-pipeline/gaia/tree/master/scheduler).

Please use the standard test framework for this: https://golang.org/pkg/testing/

[2018-07-05 16:36] michelvocks opened #4 "test: Unit-Tests for store package"
We need tests for the whole [store package](https://github.com/gaia-pipeline/gaia/tree/master/store).

Please use the standard test framework for this: https://golang.org/pkg/testing/

[2018-07-05 16:37] michelvocks opened #5 "test: Unit-Tests for handlers package"
We need tests for the whole [handlers package](https://github.com/gaia-pipeline/gaia/tree/master/handlers).

Please use the standard test framework for this: https://golang.org/pkg/testing/

[2018-07-05 16:45] michelvocks opened #6 "test: Automated integration-tests framework"
We need integration-tests to make sure the frontend is working but also to be sure that frontend and backend is behaving correctly.

Cypress (https://www.cypress.io/) looks promising but I'm also open for other options.

[2018-07-08 08:43] Skarlso opened #7 "Consider not committing in the vendor folder"
Hi.

I'm trying to start contributing to this project and committing the vendor folder isn't a great way to start things off because they collide most of the time.

That's why the dep Lock file is there. When you start developing, you basically check out the project and go `dep ensure`. The lock file will make sure that all the right versions of the packages are used.

I can understand the committ

[2018-07-08 09:05] Skarlso opened #9 "Failing test on OSX"
[code]

This is a pin for later investigation. Osx, just doing `go test ./...`.

[2018-07-08 09:07] Skarlso opened #10 "The tests aren't cleaning up after themselves"
When I run `go test` a bunch of things are left under `pipeline` that pollute the work tree.

[code]

[2018-07-08 09:08] Skarlso opened #11 "Create a PR checker binding."
I can see that there is a circleci integration but consider adding that to the PR as a hook so it can't be merged before everything is passing.

[2018-07-08 15:48] Skarlso commented on #9
It requires an installed Bolt db with admin admin as a user.

[2018-07-08 15:49] Skarlso commented on #9
This needs to be refactored to use a dependency injected database mock.

[2018-07-08 15:49] Skarlso opened #13 "[Documentation] Write up a developer setup / guide in order for people to get started"

[2018-07-08 16:01] Skarlso commented on #9
Nope it was an invalid test case. See #14.

[2018-07-08 16:01] #9 closed

[2018-07-08 18:42] michelvocks commented on #7
Welcome @Skarlso! Really happy that you decided to contribute. This means a lot to me. 😇

You are right and I'm still unsure if committing the vendor folder was the right decision.
I looked up several other big projects (for example kubernetes and docker) and they all committed the vendor folder. That is the reason why I did it.

I'm not sure if they also have the same problems?

[2018-07-08 18:46] michelvocks commented on #10
I'm actually a bit ashamed of the tests. 😣
They are really messed up and most times they are not working.

[2018-07-08 18:46] michelvocks commented on #11
Thanks I will do that. I didn't do that for now because the tests are broken/messed up.

[2018-07-08 18:55] Skarlso commented on #7
eh /shrug. It depends. That's why I'm saying feel free to ignore it. I guess it doesn't matter that much..

Dep has this to say about it:

https://github.com/golang/dep/blob/master/docs/FAQ.md#should-i-commit-my-vendor-directory

So, it's really up to you. :)

Also, Hi! :)

[2018-07-08 18:56] Skarlso commented on #10
Don't worry about it. :) I'll clean them up as I go through them. ;)

[2018-07-08 18:56] Skarlso commented on #11
@michelvocks Fair point! 👍 :)

[2018-07-08 18:56] #11 closed

[2018-07-08 19:07] michelvocks commented on #13
Yes. We totally need that!

I'm currently working on a separate website just for documentation.
You can find the repository here: https://github.com/gaia-pipeline/docs
Currently it's empty but I hope the first version will be available in a few days.

[2018-07-08 20:38] Skarlso commented on #10
Fixed by #12

[2018-07-08 20:38] #10 closed

[2018-07-09 07:05] timchenxiaoyu opened #15 "java example"
please  offer java（mvn） example  ，thanks

[2018-07-09 19:09] michelvocks commented on #15
Hello @timchenxiaoyu. Happy that you are interested in gaia. :hugs:

Sadly, gaia is in alpha phase and we currently only support pipelines written in go. :disappointed_relieved:
I hope that we can very soon support other programming languages too. Especially java is on the top-list.

Please let me know when you have other questions.

[2018-07-09 19:20] Skarlso opened #16 "[Test] Create a small repo containing a README under gaia-pipeline."
This will help shorten `git_test.go` by at least 5-7 seconds.

[2018-07-09 19:43] Skarlso commented on #16
Actually, also have a main.go :) Which will return something like, Ok. As an output for further testing of the building process.

[2018-07-09 20:33] michelvocks commented on #16
Thanks for reminding. I already forgot that. :smile:
Let me know if something is still missing.

https://github.com/gaia-pipeline/go-test-example

[2018-07-09 20:33] #16 closed

[2018-07-10 04:40] Skarlso commented on #16
Perfect. Instead of 8 seconds now it runs in 1 second. :P

[2018-07-10 09:43] gedw99 opened #19 "Priority"
At the moment the priority is just a ordering.

Other than that I really like this approach.

You could solve all this by just embeding NATS and using choreography over the NATS pub sub.

Then a job can be subscribed to another job ending.
You can also get sharing etc between components I side pipelines easily.
NATS over grpc is a well trodden path.

If you need some links to show what I mean just

[2018-07-10 09:46] gedw99 commented on #19
https://github.com/shijuvar/gokit

A decent example of using NATS with grpc.
A job is like an order in the example.

Different things can subscribe to other things and this forms the priority.

[2018-07-10 13:45] michelvocks commented on #19
Welcome @gedw99! :hugs:

I feel blessed for all suggestions I can get. They are always appreciated! :hugs:

I think this sounds really interesting. I didn't had much time to deep dive into how NATS exactly works but I found out that you need a NATS-Server, right?
I really want to keep Gaia lightweight and thin and therefore adding an extra component without seeing the real benefit feels odd to me.

[2018-07-11 13:07] michelvocks commented on #4
Fixed by #18 . Thanks a lot @bidhan-a :hugs:

[2018-07-11 13:07] #4 closed

[2018-07-11 13:46] rhencke commented on #19
Ultimately, what you want to determine is this:
1) What is the order in which jobs need to run?
2) What jobs can safely run concurrently?

Priority is one way to determine this, but it is opaque and has certain limitations.  I would like to try to convince you of another approach - using _dependencies_ to determine this.

For example, let us take the example here:

https://github.com/gaia-pipeline

[2018-07-11 13:52] empath commented on #19
The priority thing was the first thing that jumped out at me -- imagine a complex pipeline where you want to start reordering things or adding new items into the middle -- having to rejuggle all the priorities sounds like a nightmare.

[2018-07-11 15:18] gedw99 commented on #19
Exactly.

It's basically Orchestration versus Choreography.

Orchestration is when you dictate the order.

Choreography is when a job subscribes to another jobs " I ended " event.
This essentially allows pipelining of Jones but is horeographird based on
what job subscribes to job ended events on the message bus.
NATS is a message bus.

Also depending on NATs is very easy and you can just reference

[2018-07-11 19:53] michelvocks commented on #19
Thanks a lot @rhencke for your explanation. This makes absolutely sense. I still think that NATs is a bit too heavy for us but I completely agree that we need a system like @rhencke described.

Let us work on this! 🤗

[2018-07-12 00:31] fubarhouse opened #21 "Request for PHP support"
I would officially like to request support for PHP.

I understand this won't come for some time, but I want the maintainers to be aware of my interest in it.

[2018-07-12 03:43] fubarhouse opened #22 "Convert from make to mage"
I understand there's not much to gain from this, but in the spirit of going native, I propose this project moves from Make to Mage.

[Mage](https://github.com/magefile/mage) is a native Go-based replacement where you can actually write real code for your make functions rather than scripting a series of shell commands.

More at https://github.com/magefile/mage

I would be prepared to produce most (

[2018-07-12 04:38] Skarlso commented on #22
So, if makefiles are just fancy bash scripts with some make syntax, then magefiles are fancy bash scripts with go syntax and code in between which makes it even harder to read between the lines of what it does. And essentially what it does is call binaries.

Like:

[code]

Or:

[code]

Which is a ton of fluff for essentially 3 commands. And I wouldn't want to see go's verbose error handling scheme

[2018-07-12 05:44] azbshiri opened #23 "global state is magic → no package level storeService var [test, decoupling]"
Don't use package level storeService var

https://peter.bourgon.org/blog/2017/06/09/theory-of-modern-go.html

instead we could use something like in a simpler manner:
[code]

[code]

if you @michelvocks argue with this I can make this happen then testing handlers would be much easier.

[2018-07-12 11:46] Skarlso commented on #23
First off that would be nice. Outer dependencies should be injected and a global variables should be avoided if it makes sense.

That said, sometimes they are useful, especially if that variable is a built in function that you want to have control off.

Also, only Sith deal in absolutes. Meaning that post is good, but isn't law. If given a certain construct a package level variable makes sense, th

[2018-07-12 12:16] Skarlso commented on #23
Oh, do you actually mean the store_test stuff?
https://github.com/gaia-pipeline/gaia/blob/master/store/store_test.go#L15 here?
Yeah, I agree. This shouldn't be there.

[2018-07-12 12:37] azbshiri commented on #23
I didn't want to show DI and I just wrote a way of removing global state and of course that's another issue. About the service abstraction I wrote that too but I looked though and saw that you used only the db session so I didn't include it 😅

[2018-07-12 12:57] rmb938 opened #24 "Pipeline parameters"
When triggering a pipeline it would be nice to be able to specify input parameters. This would allow users to have dynamic configuration for their pipelines.

An example would be a pipeline that runs database migrations and it needs an input of the database name.

[2018-07-12 13:03] Skarlso commented on #24
Hi.

So, a pipeline is just Go code. What prevents you from adding in parameters to your pipeline in whatever means you wish, like a config file or environment property?

Or are you looking for a different solution?

[2018-07-12 13:07] rmb938 commented on #24
You are correct however there is no way from what I can tell for gaia to pass configuration information when triggering a pipeline.

The configuration I am looking for would only be useful while a single pipeline is ran. So each run of the pipeline can have slightly different inputs.

[2018-07-12 13:12] fubarhouse commented on #24
This is _really_ high on my want/need list.

If I'm ever to adopt this as more than an exploration task, it's right up there.

[2018-07-12 13:18] Skarlso commented on #24
Oh I didn't know the front-end can't pass in stuff, like environment property values. :)

So, you could, in theory, create a single pipeline and iterate over a config file which contains all the data you need which could fire off a multitude of routines that would show up in the pipeline as things that diverge then come together and create a single view. Fan-out fan-in.

I realize that's probably

[2018-07-12 13:22] fubarhouse commented on #24
@Skarlso Yeah, that is my intention for the time being.

I understand it's no small ask, but it's one of two really important requirements I would need if I'm to ever adopt Gaia as more than a shiny thing in my own time.

The other is writing tasks which can write to the local file system. Unfortunately the only other product which still allows that is Jenkins - so I'm tied down for now.

[2018-07-12 13:22] rmb938 commented on #24
Yes that could be a temporary solution however having the ability to have input parameters would still be nice.

@Skarlso I am more than willing to contribute and add this feature if that is a concern.

[2018-07-12 13:23] rmb938 opened #25 "User/Pipeline Permissions"
In a multi-user environment it would be nice to have user permissions.

i.e only the admin can add/remove users.

It would also be useful to have pipeline permissions so the viewing/modification/triggering of a pipeline can be limited to a specific user or group of users.

This would also allow easy integration into SSO (single sign on) systems like OpenID Connect.

[2018-07-12 13:31] Skarlso commented on #24
Oh for sure, don't get me wrong, I'm not against it. :) Was just trying to come up with a temporary solution so you guys aren't blocked. There is no concern here.

@rmb938 By all means. I'm sure @michelvocks would be delighted. :) In fact, he probably has it on his todo list. :)

[2018-07-12 13:52] rmb938 opened #26 "JWT not valid afteer restart"
Restarting the gaia process invalidates all JWT tokens. It seems like the jwt key is auto generated on startup instead of being passed in via a flag.

[2018-07-12 15:07] threeaccents commented on #23
@Skarlso @azbshiri Are you guys going to move forward with these changes? Also @azbshiri were you thinking of wrapper the handler funcs as methods of the `Server` struct in your example?

Having lets say a storage interface:

[code]

Then the server takes a storage interface
[code]

Then we wrap the handler funcs and make them `Server` methods.
Note: I know you're using echo but for the sake of th

[2018-07-12 16:54] threeaccents commented on #23
@azbshiri Nice let me know if I can help in any way with this.

[2018-07-12 18:41] michelvocks commented on #21
Welcome @fubarhouse. Thanks a lot for showing your interest in Gaia and for being patient with us. 🤗

I cannot give you an estimate date but it will be hopefully soon!

[2018-07-12 18:48] michelvocks commented on #22
I agree with @Skarlso. Make is supported out-of-the-box on linux and MacOS operating systems. We are (currently) using it for a few simple steps which are quite easy to understand.
And they must be easy because I wrote them and I have no clue about makefiles. :smile:

I will close this for now but I will keep that in my mind if I see our makefile growing into something that is close to a nightmare

[2018-07-12 18:48] #22 closed

[2018-07-12 18:52] michelvocks commented on #25
Welcome @rmb938. Thanks a lot for your feedback. You are absolutely right! We need this definitively!

If someone wants to pick up a challenge and wants to contribute: Welcome!
Happy to support here.

[2018-07-12 19:04] michelvocks commented on #24
Exactly, this is on my todo list. 😄
I actually already planned it in the gRPC protocol: https://github.com/gaia-pipeline/protobuf/blob/master/plugin.proto#L15

The idea is to define arguments in the pipelines and Gaia should dynamically render a view for those arguments. I think this is really close to jenkins job arguments which is nice and needed for sure.

I also thought about questions (questi

[2018-07-12 19:10] rmb938 commented on #24
Maybe for the questions follow what spinnaker is doing and rename them to manual judgements? https://www.spinnaker.io/guides/tutorials/codelabs/safe-deployments/#adding-a-manual-judgment-to-deployment-pipelines

[2018-07-12 19:30] michelvocks commented on #23
Sorry guys but you totally lost me. :smile:

I'm probably totally moronic but, except in the [store_test.go](https://github.com/gaia-pipeline/gaia/blob/master/store/store_test.go#L15) we already do this, right? :sweat_smile:
https://github.com/gaia-pipeline/gaia/blob/master/cmd/gaia/main.go#L99

Actually my main idea was to follow the [standard package layout from Ben Johnson](https://medium.com/@

[2018-07-12 19:44] Skarlso commented on #23
For reference sake and for completion I like this approach for DI: https://www.elliotdwright.com/2018/02/27/how-i-structure-some-of-my-projects/

Which is clean and very easy to follow and has lazy initialization. :)

[2018-07-12 20:48] azbshiri commented on #23
@michelvocks https://github.com/gaia-pipeline/gaia/blob/master/handlers/handler.go#L47

[2018-07-12 20:58] michelvocks commented on #23
Ah I see. You are absolutely right. Sounds like a good idea 🤗
Would be blessed if someone takes this over.

[2018-07-12 21:08] michelvocks opened #28 "One pipeline process per pipeline run"
When a pipeline is triggered, every job will execute it's own pipeline process. This brings several disadvantages with it:

- It's waste of resources. gRPC uses HTTP/2 and therefore it's simply not needed to run several processes for one pipeline run.
- It's currently not possible to share memory/data between jobs. For example, one job collects/formats/processes data and this should be used for th

[2018-07-12 21:17] michelvocks opened #29 "Delete pipeline needs manual restart"
The only way to delete a pipeline is to manually remove the binary in the pipeline folder.
Then a manual restart of gaia is required since the pipeline is not automatically removed from the [active global pipeline list](https://github.com/gaia-pipeline/gaia/blob/master/pipeline/pipeline.go#L50).

What we have to do:
During the [pipeline check](https://github.com/gaia-pipeline/gaia/blob/master/pipe

[2018-07-12 21:23] michelvocks opened #30 "Modify, Delete Pipeline feature"
We already have a `Settings` subpage. We need a new tab-pane for managing pipelines.
Maybe a table with all currently active pipelines and every entry has buttons/icons to modify (renaming) and removing this pipeline.

What needs to be done:

1. Create the functionality in the backend.
2. Create a new tab-pane in the settings view with the required functionality.

[2018-07-13 02:30] bidhan-a opened #31 "Automatically rebuild the pipeline when a new commit is pushed to the git repo"
Hello @michelvocks

Right now there is no way to edit the pipeline code without having to manually remove the binary and set things up all over again.

Are you planning on supporting something like this in the future?

Thanks!

[2018-07-13 15:34] rmb938 opened #32 "Abiltiy to set configuration flags via environment variables"
When deploying gaia it would be nice to be able to set the configuration flags via environment variables.

For ease of development it may be useful to use a cli/configuration system like https://github.com/spf13/viper or https://github.com/alecthomas/kingpin

[2018-07-13 18:44] udnaan opened #33 "stdin and stdout support with virtual console"
Not sure if this is considered or is part of the featureset that you want to support.
In my experience, in real systems, it's often unrealistic to except existing software to be modified or rewritten to be made compatible with a pipeline.

Perhaps such support can be added as a plugin or a pipeline wrapper.

Overall, it is just an idle query since it is still alpha software.

[2018-07-13 19:44] michelvocks commented on #32
We also need to have a look at the configuration in general. I think we will get more configuration parameters in the future and passing in parameters will be unmanageable. :skull:

Not quite sure but do you know what other big open source projects use?

[2018-07-13 19:47] michelvocks commented on #33
Welcome @udnaan 🤗
I'm not quite if I understand your question at all. :disappointed_relieved:
Could you please explain a bit in detail what do you mean?

[2018-07-13 20:14] rmb938 commented on #32
I typically see viper being used in other projects, it can do cli flags, env vars and config files.

I don't know ifhaving tons of cli flags is a bad thing though. Just look at docker and kubernetes, mostly everyone is fine with having tons of flags.

[2018-07-13 20:33] udnaan commented on #33
Let me look into it further before I make a fool of myself. My initial understanding was that you need to add explicit support to each step in the pipeline. I'll reopen if that turns out to be the case.

[2018-07-13 20:33] #33 closed

[2018-07-14 09:59] hadrianbs commented on #31
wont webhook requires us to have some kind of public endpoint exposed to the internet?
Im guessing check the repo for new commit like jenkins do (?)

[2018-07-14 15:02] azbshiri commented on #23
I first add tests to this then I begin to refactor.

[2018-07-14 21:30] Skarlso commented on #31
I don't see the problem. Gaia has already a public endpoint exposed, adding another handler for a github hook is pretty easy and simple. I would rather recommend a push not pull scenario where gaia has to check every second / minute if there is something new around to build. Rather listen idly and do something if there really is something to do.

[2018-07-15 06:07] Skarlso commented on #31
I've written up a POC for this for polling and dealing with all the pipelines in the system.

I'm on vacation so I'm going to look at this after a while. What do you guys think?

[2018-07-15 14:55] #26 closed

[2018-07-15 17:36] camerondavison opened #36 "Architecture documentation"
I was wanting to know more about how Gaia runs, is there anything that explains where state is saved, or if it is HA or has plans to be. I didn't see any links to some more info on where credentials for checking out git repos are saved and such. I like all the readme links that do exist but if there is link to further operation instructions I guess I missed it.

Thanks, sounds like a promising pro

[2018-07-15 19:40] michelvocks commented on #36
Welcome @camerondavison 🤗 Thanks for your nice words!

You are absolutely right. We got basically no documentation and that is the part where I'm currently working on. I've just published today our new docs website https://docs.gaia-pipeline.io.
There is still a lot missing like how to operate Gaia and if it's HA etc...
I hope that we can fix that soon 🤗

So for now, I hope I can answer a few of y

[2018-07-15 19:50] camerondavison commented on #36
Cool glad it is working in progress. I think just labeling things that are work in progress in the docs is good for people to know if there is an aim to solve it or not. Thanks for the quick update. Just as an FYI we use vault for secrets so it would probably be nice to allow for something like that to be configured either talking directly to a secret manager or in a flat for instead of in a datab

[2018-07-15 19:50] #36 closed

[2018-07-15 19:55] Skarlso commented on #23
@azbshiri https://github.com/gaia-pipeline/gaia/blob/master/pipeline/ticker.go#L26
I just found this and realised what you meant. :) 👍

[2018-07-15 22:04] Skarlso commented on #31
Git polling has now been implemented. The second phase of this is webhooks.

[2018-07-16 05:58] michelvocks commented on #31
Awesome job @Skarlso 🤗

[2018-07-16 06:43] #29 closed

[2018-07-17 19:58] #28 closed

[2018-07-18 09:19] michelvocks commented on #3
Fixed by #39

[2018-07-18 09:19] #3 closed

[2018-07-19 19:26] michelvocks opened #42 "Java pipelines support"
After all the feedback, Java was the most wished one.
Let's develop an SDK for it and support it in Gaia.

[2018-07-19 19:31] michelvocks opened #43 "Better description in README file"
I heard from a lot of people that the description (README file) is not very clear. Especially the term "pipeline" led to confusion. We should improve this soon to make clear what Gaia is and maybe how is it comparable to other projects (competitors).

[2018-07-19 20:36] Skarlso opened #44 "Refactor Git module to use a Storer"
Right now, the git module can only be tested via actually cloning stuff.

I would like to avoid that, but my current PR is convoluted enough. :) I'm going to do that refactoring with in the confines of this ticket.

[2018-07-20 00:40] issmirnov commented on #43
A good addition would be a clear explanation of what problems this is solving. I read the README and the Tutorials and still don't understand what need this fulfills. Is this a deployment tool? Orchestration? Fancy build tool or glorified scripting language? Etc.

[2018-07-20 06:14] michelvocks commented on #44
What's bad about cloning stuff? 😄
I mean, that's the real use-case and we can easily test it. What are the disadvantages in your opinion? 🤗

[2018-07-20 12:29] Skarlso opened #45 "Refactor the scheduler test because it's flaky"
Smells:

scheduler_test.go:144:146
[code]

This just failed with the error that the job is in an invalid status. I think this should be fortified or it will cause problems in the future. The scheduler needs to be tested in a different way, or manually kicked off at this stage, or somehow signal on a channel that it's done with its round.

[2018-07-20 12:47] Skarlso commented on #44
Generally it's frowned upon if you poll github a lot and Gods know they need a break. :-) we need end to end tests don't get me wrong. One or more but this scenario needs a push. Which means everytime someone runs this it will pull and push into a repo which is bad. We could mske this test with a switch to only run in Ci but better would be if all it would do is do it in memory.

[2018-07-20 12:49] Skarlso commented on #44
This is just like the store needs to be an interface in order to test stuff at the unit level instead of using a really bolt db. And have some end to end tests that actually use bolt db. :-)

[2018-07-20 13:40] michelvocks commented on #45
Ah I see. I will refactor that 🤗

[2018-07-20 13:42] vosmith opened #46 "[Feature Request] Distributed execution"
Do you have plans to use turn Gaia into a Master <-> Worker system where jobs can be run on remote servers?

[2018-07-20 13:44] michelvocks commented on #44
Well. I know from other big projects they are also pulling something (docker images, files from servers etc.) and a git clone is basically the same. We are downloading files from a server. I don't know if github has some kind of DDoS protection which will, at some point, lock you out but I'm pretty sure you will never hit that locally. 😄

Why do we need a push test? We do not provide any push func

[2018-07-20 13:50] michelvocks commented on #46
Welcome @vosmith 🤗
Yes, this feature is planned. Sadly, I cannot tell you when we are going to implement this.
Our feature list is long and there are other features more important than this. 😄

[2018-07-20 13:53] michelvocks commented on #42
First version of SDK has been implemented and is available at https://github.com/gaia-pipeline/javasdk

Next step is the integration into Gaia. Stay tuned! 🤗

[2018-07-20 14:01] Skarlso commented on #44
Ah so that I can test the pull on repo change functionality of the update pipeline on code change feature. :-)

Well, just because other people do it doesn't mean Gaia has to do it. :-)

Generally I think that a unit test is a test where your have full control over all the moving parts. An integration test is where you have a third party of any kind. Generally what I don't want is a test failing b

[2018-07-20 15:11] michelvocks commented on #44
Alright, good point. Didn't thought about the pull on repo change test. 😄

[2018-07-20 15:49] Skarlso commented on #44
Fair enough, it's a new feature after all. :) 👍 Thanks. :)

[2018-07-20 16:48] vosmith opened #47 "[Proposal] remove strings.Builder in test cases"
The use of `strings.Builder` requires Go 1.10+.  Since this is only used in the test cases, it leaves an interesting situation where I'm able to run Gaia on Go 1.9, but while developing the tests fail.  I think replacing the strings.Builder, which only serves as an `io.Writer` for the logging would normalize the dev/test/prod environments.

Alternatively an update to the README under the Contribut

[2018-07-20 21:37] Skarlso commented on #47
Good point!!

I'll fix that up and use `buf := new(bytes.Buffer)` instead which does the same thing. Sorry for the inconvenience.

[2018-07-20 21:44] Skarlso commented on #47
@vosmith Done. Should be okay after merge. Thanks for reporting it. :)

[2018-07-21 05:50] bidhan-a commented on #30
Hey @michelvocks I would like to take this on if you aren't working on it already. Please let me know!

[2018-07-21 14:58] michelvocks commented on #47
Good point @vosmith 🤗

We still have the issue open with the developer guide: #13
I hope that we can tackle that soon.

[2018-07-21 14:59] #47 closed

[2018-07-21 15:02] michelvocks commented on #30
Hey @bidhan-a 🤗
Awesome! Really happy that you want to work on this! ❤️
Feel free to start and don't hesitate if you got questions or simply want feedback!

[2018-07-21 15:06] michelvocks commented on #32
This looks actually really good. It's simple and self-explained. I think we can just use it and when we need to do modifications we fork it. What do you think @Skarlso ?

[2018-07-21 21:07] michelvocks opened #51 "Secret store for passwords, tokens, api keys and more"
We need a secure way to store passwords, tokens, api keys and everything that should be kept secret.
For example when the user wants to access vault via a pipeline. Usually a token is required to get access to vault and this token should be stored in the secret store.

After a secret has been stored, it must be possible to automatically inject this password during runtime in the pipeline as a job

[2018-07-21 21:07] michelvocks commented on #51
ping @Skarlso

[2018-07-22 08:00] michelvocks opened #53 "Plugin connection -> from unix sockets to port"
Currently, Gaia uses unix sockets as communication channel for Gaia <-> Pipeline (Plugin) communication.

It has the following disadvantages:
* Gaia only runs on Unix (Mac/Linux) systems.
* Adding new SDKs is hard due to new/poor implementation and support of unix sockets.

It has the following advantages:
* It's secure. You can only hijack the communication when you have access to the filesystem.

[2018-07-22 09:04] michelvocks commented on #53
Following idea in my mind.
On every pipeline start, Gaia creates a new x509 certificate. It will set the path to the certificates as environment variables. This means every SDK needs to get the path from the environment variable and needs to configure mutual TLS.

What do you think @Skarlso ?

[2018-07-22 15:40] #43 closed

[2018-07-23 07:05] Skarlso commented on #51
Picking this up.

[2018-07-25 07:56] #30 closed

[2018-07-25 13:11] Skarlso opened #57 "Slack integration test"
Test this.

[2018-07-25 13:11] Skarlso commented on #57
Closing with successful test.

[2018-07-25 13:11] #57 closed

[2018-07-26 09:01] LaughingXY opened #59 "it show format error when I start piplines"
the error like this  "fork/exec /data/pipelines/test1_golang: exec format error"，how can I resolve this error?Thanks

[2018-07-26 09:02] Skarlso commented on #59
Hi @LaughingXY.

Need a bit more information on this. Does your code compile otherwise? How did you create the pipeline? Did you just put in the binary, or did you for something? Where and when are you getting this error?

Thanks.

[2018-07-26 11:02] michelvocks commented on #59
Hey @LaughingXY. 🤗

Like @Skarlso already said, your pipeline code would help a lot here so that we can try to reproduce your problem. 😄

[2018-07-28 10:03] Skarlso opened #63 "Add slack badge to readme"
Now that slack is avaliable we should put it into the readme.

[2018-07-30 18:27] michelvocks opened #65 "[Documentation] Java Pipelines"
We need documentation about how to use java pipelines.

[2018-07-30 19:03] michelvocks commented on #51
Fixed by #56

[2018-07-30 19:03] #51 closed

[2018-07-30 19:52] #45 closed

[2018-07-31 06:11] michelvocks commented on #63
Fixed by #64

[2018-07-31 06:11] #63 closed

[2018-07-31 11:59] #7 closed

[2018-07-31 19:08] #53 closed

[2018-08-01 11:12] Skarlso commented on #59
Please reopen, if the issue still remains.

[2018-08-01 11:12] #59 closed

[2018-08-01 11:49] #42 closed

[2018-08-02 05:58] michelvocks opened #68 "Python language Support"
Gaia Pipelines in python support.

[2018-08-02 06:08] michelvocks opened #69 "New docker image with Java/Maven integrated"
Currently, we have one docker image with golang integrated. With the integraten of #15 we now have to support Java too. Soon, we will also support Python (#68).

My proposal is to create one big docker image with the "latest"-Tag where all languages are included. This means when someone runs `docker run gaiapipeline/gaia` without a specific tag, the *latest* tag will be pulled which can be huge (p

[2018-08-02 07:58] Skarlso commented on #23
Fixed. ;)

[2018-08-02 07:58] #23 closed

[2018-08-07 10:00] renehernandez commented on #5
@michelvocks I am going to start tackling this issue. Cheers!

[2018-08-12 11:01] michelvocks opened #73 "Fix scale of pipeline views in overview on large screens"
![screen shot 2018-08-12 at 13 00 06](https://user-images.githubusercontent.com/2463119/44001305-bc52c55a-9e2f-11e8-8a80-2f3b5aa1c376.png)

On large screens, there is too much space between multiple pipelines.

[2018-08-12 11:04] michelvocks opened #74 "Multiple log entries are duplicated"
![screen shot 2018-08-12 at 13 02 20](https://user-images.githubusercontent.com/2463119/44001330-28c08cb8-9e30-11e8-88bc-a7b31fa54b96.png)

When a job includes jobs which are executed in parallel then log output from these jobs are duplicated (see image).

[2018-08-12 11:08] michelvocks opened #75 "Add visual feedback when the create pipeline process has been triggered"
When the create pipeline process is triggered, there is no visual feedback for the user. He needs to wait until the `create pipeline history` table has been updated.

We should add a notify message to inform the user like we always do. For example https://github.com/gaia-pipeline/gaia/blob/master/frontend/client/views/vault/index.vue#L298

[2018-08-12 11:11] michelvocks opened #76 "Remove tabs-panel from vault view"
![screen shot 2018-08-12 at 13 09 25](https://user-images.githubusercontent.com/2463119/44001363-078858e0-9e31-11e8-9fc7-cfbb2fff141a.png)

We use the tabs-view for vault but I don't see any reason to do that. WDYT @Skarlso ?

[2018-08-12 11:49] Skarlso commented on #76
What's tabs-view? 🤣

[2018-08-12 12:07] michelvocks commented on #76
The thing with "Manage Secrets" 😄 It's a tabs-panel (multiple views in one)

[2018-08-15 09:48] #24 closed

[2018-08-15 19:55] Skarlso opened #77 "Scheduler test can run into a data race error."
Details:

[code]

Circle CI link: https://circleci.com/gh/gaia-pipeline/gaia/457?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-08-17 15:49] michelvocks opened #79 "Remove michelvocks folder from vendor"
Dep didn't remove my periodically added forks and added them to the vendor folder.
We should remove this folder: https://github.com/gaia-pipeline/gaia/tree/master/vendor/github.com/michelvocks

[2018-08-18 11:53] Skarlso commented on #79
Buuu

[2018-08-18 18:07] #79 closed

[2018-08-18 18:11] #68 closed

[2018-08-19 09:39] Skarlso commented on #77
I wasn unable to reproduce this in current master. Closing out for now. If it occurs again I'll reopen again.

[2018-08-19 10:47] Skarlso commented on #31
Hey @bidhan-a.

Are you satisfied with the github webhook implementation?

I'll write a short readme about it later today.

[2018-08-19 11:16] Skarlso commented on #31
PR link: #48

[2018-08-20 05:44] bidhan-a commented on #31
Hey @Skarlso

Haven't had the chance to test it out fully but looks good to me nonetheless.

I'll reopen if I run into any issues.

[2018-08-20 05:44] #31 closed

[2018-08-20 16:02] #69 closed

[2018-08-22 19:54] bneil opened #86 "Small JS error on pipeline with no jobs in Chrome"
Currently using the latest via
`docker run -d -p 8080:8080 -v $PWD:/data gaiapipeline/gaia:latest`

After generating a pipeline (no jobs yet run), i went to the dashboard and got the following error when trying to `start pipeline`.

[code]

[code]
`this.pipeline.jobs` - `jobs` is currently null which is causing the issue

[2018-08-22 19:59] michelvocks commented on #86
Hello and welcome @bneil 🤗
Usually you see this error when your pipeline is broken or your pipeline does not expose any jobs.
Gaia executes pipelines as soon as they are build (and detected) and tries to get all jobs. So by default`this.pipeline.jobs` shouldn't be `undefined`.

Is there anything in the logs of Gaia? Usually this is more verbose.

[2018-08-22 20:05] bneil commented on #86
maybe its because im just using the default golang example?

[code]
which is going to exit in a panic

Logs are as follows:
[code]

[2018-08-22 20:06] bneil commented on #86
welp, if i read the error message.... this would of made more sense
[code]
Sorry about that, closing

[2018-08-23 06:57] michelvocks commented on #86
Thanks a lot @bneil .
My example is actually really bad which I provided. Sorry for that I will fix that!
I will also reopen this issue because we should fix the JS error when jobs is undefined.

[2018-08-23 07:01] michelvocks opened #87 "Fix go example on readme file"
The go example is actually broken. When executed, the following error will occur:

[code]

[2018-08-23 07:04] #87 closed

[2018-08-23 07:09] #77 closed

[2018-08-24 02:13] serussell opened #89 "Plans to support Mercurial?"
... or other VCSes?  Gaia doesn't actually _do_ any version control; does it need to do anything more than what Go is capable of in the core toolset, of downloading source trees from multiple VCS sources?  And if Gaia does need more capabilities, why not use something more flexible than go-git, such as [SourceGraph's go-vcs](https://github.com/sourcegraph/go-vcs)?

[2018-08-25 13:41] michelvocks commented on #75
Fixed by #83

[2018-08-25 13:41] #75 closed

[2018-08-25 14:09] michelvocks opened #91 "Inform user when pipeline is broken"
When a new pipeline has been created and detected by Gaia, it usually tries to start the pipeline and get all jobs for the detailed overview: https://github.com/gaia-pipeline/gaia/blob/master/pipeline/ticker.go#L114

Sometimes this can fail when:
* The pipeline throws runtime exceptions (e.g. dependencies are not correctly declared).
* The binary cannot be started because a dependency is missing.

[2018-08-25 14:18] michelvocks opened #92 "Support pipeline execution in docker container"
Currently, pipelines are directly executed on the host system. It would be helpful if pipelines could be executed in their own docker container which can be removed after execution (like a sandbox).

[2018-08-26 18:53] Skarlso commented on #32
@rmb938 Implemented. Hopefully that fits the desired need, without also having a major impact code wise.

[2018-08-27 14:38] #76 closed

[2018-08-29 06:50] Skarlso opened #97 "Create a Rust SDK"

[2018-08-30 19:44] marciorf commented on #13
Hello, any news on the doc?

Im interest in getting started with gaia, but Im a bit lost

[2018-08-30 20:06] Skarlso commented on #44
This might not be an issue any longer as I found a way to nicely get around the github interface. I can do the same with git as well.

[2018-08-30 20:06] #44 closed

[2018-08-30 20:10] Skarlso commented on #44
In test:

https://github.com/gaia-pipeline/gaia/blob/master/pipeline/git_test.go#L252

Using this pattern to mock out a certain part of an API by wrapping it into an interface:

https://github.com/gaia-pipeline/gaia/blob/master/pipeline/git.go#L168-L194

[2018-08-30 20:39] Phil-Taylor-IW opened #99 "cannot copy compiled binary: no such file or directory"
Hi there, I love the concept of Gaia and am trying out the demos in your tutorials but am getting this error:

```cannot copy compiled binary: open /data/pipelines/gaia-pipeline/go-example_golang: no such file or directory```

I'm not that familiar with Go but it appears the repos are being cloned and the code compiled in `./tmp/golang/src/495c7f71-d409-4933-a175-534fe8c066df/gaia-pipeline//go-exa

[2018-08-31 04:50] Skarlso commented on #99
First off, hi @Phil-Taylor-IW! Welcome, and thanks for reporting this issue. I'll look into it as soon as I can! :)

[2018-08-31 04:57] Skarlso commented on #99
So, could you tell me a little bit more what exactly were you trying to do?

For me, I was pressing, create pipeline and I'm using the example repository (https://github.com/gaia-pipeline/go-example).

This is the result of me creating the pipeline:

<img width="565" alt="screen shot 2018-08-31 at 06 55 07" src="https://user-images.githubusercontent.com/182850/44893349-f0f96100-acea-11e8-8384-57f9

[2018-08-31 05:00] Phil-Taylor-IW commented on #99
That's all I was doing, I ran the container, logged in, created a user and added my Github creds but didn't have any code so created a new pipeline just as you did there. Let me kill my repo and start again from scratch.

[2018-08-31 05:08] Phil-Taylor-IW commented on #99
Cool - that seemed to do it! I must have had some bad config hanging about. Thanks for that!

![image](https://user-images.githubusercontent.com/42429032/44893730-7f4c0200-ad40-11e8-9551-c5276198223c.png)

[2018-08-31 05:08] #99 closed

[2018-08-31 06:48] Skarlso commented on #99
Yay! :)

[2018-08-31 06:50] Phil-Taylor-IW commented on #99
Totally loving the gaia concept. Is anyone working on a Ballerina SDK? That would be of great interest.

From: Gergely Brautigam <notifications@github.com>
Reply-To: gaia-pipeline/gaia <reply@reply.github.com>
Date: Friday, 31 August 2018 at 6:48 PM
To: gaia-pipeline/gaia <gaia@noreply.github.com>
Cc: Phil Taylor <phil.taylor@integration.works>, State change <state_change@noreply.github.com>
Subje

[2018-08-31 06:52] Skarlso commented on #13
@marciorf What do you need? Is there anything specific that is missing in order to develop gaia when looking at this document? https://github.com/gaia-pipeline/docs

[2018-08-31 07:00] Skarlso commented on #99
@Phil-Taylor-IW I don't think so, no. There are quiet many features that we need to implement first, like distributed execution which is on my plate right now. Also, other things that you see in the issues section. :) But we are always happy if people jump in on the fun though. :)

[2018-08-31 07:02] Phil-Taylor-IW commented on #99
I saw Rust mentioned and wasn’t suggesting you do it ;-)

I’m not a coder but am trying to sell the idea internally.

Win-win.

From: Gergely Brautigam <notifications@github.com>
Reply-To: gaia-pipeline/gaia <reply@reply.github.com>
Date: Friday, 31 August 2018 at 7:00 PM
To: gaia-pipeline/gaia <gaia@noreply.github.com>
Cc: Phil Taylor <phil.taylor@integration.works>, Mention <mention@noreply.gith

[2018-08-31 14:02] Skarlso commented on #99
@Phil-Taylor-IW Yeah, as an issue for a reminder that it would be cool to have. :) Although, apparently the gRPC for rust isn't maintained. :/ So I'm not sure if I ever get a chance to do it.

Otherwise, yeah, if you wish Gaia would do something that you would like to see, feel free to create an issue so we never forget about it. :)

[2018-08-31 23:17] Phil-Taylor-IW commented on #99
Actually I don't care about Rust but work for an integration company and would like to see a Ballerina SDK. It[ looks like it has gRPC support](https://ballerina.io/learn/by-guide/grpc-service/) so I will create an Issue for this soon thanks.

[2018-09-01 16:00] rmb938 commented on #32
Yup looks good. Thanks :D

[2018-09-01 16:00] #32 closed

[2018-09-01 20:30] michelvocks commented on #97
gRPC currently does not officially support Rust but we could use this one for now: https://github.com/stepancheg/grpc-rust
What do you think?

[2018-09-01 20:31] michelvocks opened #100 "Fail pipeline when job returns an error"
Gaia should stop the pipeline and mark it as failed when a job returns or throws an error. This is currently not implemented.

[2018-09-02 07:11] Skarlso commented on #97
Yep I know. I did a little digging. That thing isn't maintained either any longer. Might be enough though. I'll have to do a skeleton first.

[2018-09-02 19:03] Skarlso commented on #97
Firs the reference of why I'm reluctant to do this as of yet:
https://github.com/grpc/grpc/issues/9316

I don't think they'll ever will incorporate it properly. And the one linked above is absolutely abandoned.

I could probably take it over, but my time is pretty thin stretched as is.

[2018-09-03 05:45] michelvocks commented on #97
True. Let us down prfioritize this feature and if you got time and you just do it. 🤗

[2018-09-03 18:46] #91 closed

[2018-09-04 06:00] michelvocks commented on #65
https://docs.gaia-pipeline.io/develop-pipelines/java/

[2018-09-04 06:00] #65 closed

[2018-09-04 06:01] michelvocks commented on #15
Java is now officially supported. Docs are available here: https://docs.gaia-pipeline.io/develop-pipelines/java/

[2018-09-04 06:01] #15 closed

[2018-09-04 06:03] #5 closed

[2018-09-04 06:04] #1 closed

[2018-09-04 06:12] michelvocks opened #103 "Support nodejs pipelines"
We should support nodejs (javascript) as language for gaia pipelines.

[2018-09-04 06:12] michelvocks opened #104 "Support c++"
We should support c++ as language for gaia pipelines.

[2018-09-04 10:27] Skarlso opened #105 "Implement pipeline scheduling via cron syntax"
A good library to start with could be: https://godoc.org/github.com/robfig/cron

[2018-09-05 07:07] #86 closed

[2018-09-05 20:05] Skarlso opened #107 "RFC: Distributer Pipeline execution via Workers"
# Abstract

This document discusses the problem of executing pipelines in a distributed
manner.

# Table of Contents

1. [Introduction](#introduction)
2. [Problem Statement](#problem-statement)
3. [Terminology](#terminology)
4. [Architecture Diagram](#architercutre-diagram)
5. [Proposed Worker Distribution Model](#proposed-worker-distribution-model)
6. [Managing Workers](#managing-workers)
7. [Wor

[2018-09-05 20:12] Skarlso commented on #107
Deals with #46.

[2018-09-06 08:08] michelvocks commented on #107
Awesome work, @Skarlso . 🤗

A few hints from my side:

1. `RegisterWorker` should pass something like a secret. Otherwise attackers could easily attach random workers to Gaia and use that to their advantage.
2. Currently it's not really clear when pipelines are build on the worker. When a user opens the detailed view of a pipeline, he should be able to see all jobs from this pipeline. That means t

[2018-09-06 09:02] Skarlso commented on #107
1. Of course. I'll spell that out more in detail.
2. Uh. :D Yeah.
3. The dynamical spawning I would leave for later. For now I was just thinking that someones spins up a server and executes the agent on it, which `calls home`.
4. Thanks. :) 😁

[2018-09-18 06:50] fubarhouse commented on #92
Will this feature be obligatory, opt-out or optional?

[2018-09-19 14:11] michelvocks commented on #92
Hello @fubarhouse 🤗
My idea is to make it optional. It will be disabled by default and can be activated manually.
Any opinions? 😄

[2018-09-20 11:12] fubarhouse commented on #92
@michelvocks,

Thanks!

I guess, how it should be set up - it would be important to understand how it's being used currently by people. It could impact everybody using Gaia...

Obviously the best migration path would be to opt-into this functionality, but for best practice I would recommend opting out.

It's quite important to me that this is actually available rather than being forced. I personal

[2018-09-21 09:48] Skarlso opened #108 "Triggering builds in quick succession results in duplicated IDs"
<img width="1462" alt="screen shot 2018-09-21 at 11 46 54 am" src="https://user-images.githubusercontent.com/182850/45874074-3d890700-bd94-11e8-9f65-42230782b43c.png">

[2018-09-23 10:46] michelvocks commented on #108
Uhm. That's pretty bad. The IDs are generated by boltDB as far as I can remember. I will check that.
Thanks for the report @Skarlso  🤗

[2018-09-23 19:06] Skarlso commented on #108
@michelvocks No probs. I have a hunch that it might be only on the front-end. I didn't have the time to investigate deeper yet. That would be the best possible outcome... :) If it's deeper that's shait. We'd have to implement locking. :/

[2018-09-24 04:40] Skarlso commented on #108
Unfortunately it's boltdb.
<img width="720" alt="screen shot 2018-09-24 at 06 39 44" src="https://user-images.githubusercontent.com/182850/45937848-aa82e380-bfc4-11e8-82bb-23b3cfd8ff95.png">

[2018-09-24 05:02] Skarlso commented on #108
Aha, I see what's going on. I'll fix this.

[2018-09-24 18:38] #100 closed

[2018-09-24 18:45] michelvocks opened #110 "Pipeline runs should be cancellable by the user"
A user should be able to cancel a pipeline run at any time.

[2018-09-24 18:50] michelvocks opened #111 "Add new option "Timeout" for pipeline jobs"
By default, a job from a pipeline run is running for ever and this is the expected behavior. We don't know how long a job should run and therefore we don't set a global timeout for pipeline jobs.

Therefore, we should provide the user the possibility to manually set a job timeout via job declaration: https://github.com/gaia-pipeline/protobuf/blob/master/plugin.proto#L15

This also includes updates

[2018-09-24 18:56] michelvocks opened #112 "Add job "running" icon to pipeline run graph"
The detailed view of a pipeline run includes the job graph with shows the dependencies between the jobs and the current state.

Currently, three states are implemented: Waiting for execution, Success, Failed.
To improve the user experience we should also add a new icon (and state) for Running.
It would be cool to use an animated gif for this state so it makes it easy for the user to see the curren

[2018-09-25 08:27] Skarlso commented on #111
I wonder. The plugins have health checks. We could intentionally ping a plugin if it's still healthy and just working on something for a long time. If a healthcheck fails after X times of trying, I think it should be safe to kill the job off. If the health check fails that generally would mean that the plugin/job is dead. Not?

[2018-09-25 12:35] michelvocks commented on #111
That's already implemented by the go-plugin. If the health check does not respond, go-plugin will terminate the process. At least that is what I can read from the code 😄

[2018-09-25 19:03] Skarlso commented on #108
Fixed

[2018-09-25 19:03] #108 closed

[2018-09-26 19:38] #74 closed

[2018-09-26 20:44] Skarlso commented on #107
@michelvocks just a heads up. I'm going to start on this soon, which means there will be merge conflicts all over the place as I extract the building functionality into a worker package. :)

[2018-09-27 06:53] michelvocks commented on #107
Awesome @Skarlso 🤗 Looking forward to all the merge conflicts :skull: :nerd_face:

[2018-10-01 19:05] Skarlso commented on #97
Started here https://github.com/gaia-pipeline/rustsdk

[2018-10-01 19:30] Skarlso commented on #2
This has been done although coverage could be higher.

[2018-10-01 19:30] #2 closed

[2018-10-01 20:11] Skarlso opened #116 "Delete pipeline functionality does not have a front-end button"
We have the API but there is no button to actually click in order to delete the pipeline.

[2018-10-01 20:18] Skarlso commented on #116
Never mind. I just found it. I thought it would be a nice button on the pipeline view actually and not under settings. 🤔 But okay.

[2018-10-01 20:18] #116 closed

[2018-10-04 16:00] JulianSauer opened #118 "Gradle support"
Is it necessary to use Maven for Java builds? I've set up a [Gradle project](https://github.com/JulianSauer/Gaia-Demo), however when creating a pipeline in Gaia I get the following error:
`The goal you specified requires a project to execute but there is no POM in this directory `

This led me to the assumption that Gaia interprets any Java project as a Maven project. Is that currently the case or

[2018-10-04 16:56] michelvocks commented on #118
Welcome @JulianSauer 🤗

Yes, your assumption is right. The build system and the Gaia java SDK are both tightly coupled to maven which was an early decision due to the reason that maven is widely used. Many programming languages offer/support multiple build systems and dependency managers. It's, sadly, not possible to support all of them so we have to decide early on which one we will support. The

[2018-10-04 20:30] JulianSauer commented on #118
I thought at first that the code within the Handler interface would simply be executed so I used the Gradle Tooling API to execute my build tasks. Does the Java SDK work similar with Maven?
And is there a documentation on how to contribute? (E.g. how to run/debug the project) :)

[2018-10-05 08:50] Skarlso opened #120 "Make the decryption check if it was successful instead of relying on block failure"
The vault test is a weird side effect of relying on block decrypt throwing an error when it can't decrypt the secret because the password doesn't match the block size of the original password that was used.

This basically happens because we don't know the password and don't check the decrypted content for a key string to see of the decryption was successful or not.

It can happen that the library

[2018-10-06 17:11] michelvocks commented on #118
@JulianSauer You can find the source code here: https://github.com/gaia-pipeline/javasdk

You can find a basic guide in the README.md file (https://github.com/gaia-pipeline/gaia#contributing).
Please open a new issue if you stuck somewhere or you think documentation is missing. 😄

[2018-10-09 14:40] #120 closed

[2018-10-11 03:31] KThornley opened #124 "Gaia baseURL configuration for proxy support"
I am currently looking at implementing Gaia in my K8 cluster alongside other DevOps tooling.  To integrate it with my ingress proxy I would like to be able to serve gaia under a sub directory e.g. /pipeline/...

Current configuration does not allow me to specific the baseURL

[2018-10-11 06:17] #112 closed

[2018-10-11 08:40] thornleyk commented on #124
Difficulty comes with html content which directs itself back or serves itself from /, e.g. assets. Most proxys wont intercept this traffic and rewrite the html before delivery. Other monitoring toold e.g. grafana provide this capability

[2018-10-11 08:41] thornleyk commented on #124
http://docs.grafana.org/installation/behind_proxy/

[2018-10-11 08:58] KThornley commented on #124
Jaeger also had an issue regards this which we could consider https://github.com/jaegertracing/jaeger-ui/issues/42

[2018-10-11 11:41] Skarlso commented on #124
I see. Carry on then.

[2018-10-15 18:01] perriea opened #126 "Helm chart"
Is the creation of a helm chart for Gaia planned ?
I have already seen in issue #124 that the author is working on deployment.

Thank you for your work !

[2018-10-16 16:49] speza commented on #73
Thought I'd quickly give this one a fix. Few little tweaks but seems much better locally for me -
![capture 2018-10-16 at 17 45 30](https://user-images.githubusercontent.com/5376774/47033057-cadd3280-d16b-11e8-8e87-147b75722ec2.png)

[2018-10-17 20:44] #73 closed

[2018-10-20 05:18] #126 closed

[2018-10-31 13:31] Skarlso commented on #107
@michelvocks Added some more info about Worker tags and requirements for resource tagging.

[2018-11-01 15:02] Skarlso commented on #105
Starting working on this.

[2018-11-04 04:29] thornleyk opened #129 "Support for VSTS (multi-ack) Git Repositories"
Hi, currently the git "go-git" library used by gaia does not work with multi-ack services https://github.com/src-d/go-git/issues/335#issuecomment-293629072 e.g. VSTS. This looks to be a long running non trivial issue.  I have had success using the approach used by weave works https://github.com/weaveworks/flux/tree/master/git, however this requires the install of a git client as its just a wrapper

[2018-11-04 22:14] Skarlso commented on #129
This is an issue, yes. But there is no official solution or care given enough in order to use something. We could use a hack, but I'd prefer not to.

Until everything is sorted and there is a definitive way of doing it, I would say, stay thy hand.

[2018-11-08 14:01] #124 closed

[2018-12-05 15:04] michelvocks opened #131 "Python create pipeline race condition"
I noticed that the update process during the pipeline creation process has a race condition. This results in failed pipeline builds sometimes.

[2018-12-06 07:11] #104 closed

[2018-12-11 17:48] michelvocks commented on #105
Hey @Skarlso . What is the status here? I would like to pick this one up if you don't mind. 😄

[2018-12-11 20:10] Skarlso commented on #105
@michelvocks So sorry dude, I have my hands full with the Go PRs plus December is AOC month. :D Usually get nothing else done. :D

This is up for grabs yeah. I started working on it and hacked something together but wasn't really satisfied. And I was keeping in mind the work of #107. Which makes scheduling a bit harder. 🤔

[2018-12-12 08:30] #131 closed

[2018-12-12 12:44] michelvocks opened #134 "Prepare new Gaia release 0.2.2"

[2018-12-12 12:51] #134 closed

[2018-12-12 13:10] michelvocks opened #136 "goreleaser deprecation warning"
[code]

[2018-12-12 13:42] #136 closed

[2018-12-28 21:08] #105 closed

[2019-01-04 20:42] estiens opened #140 "Request for Ruby support"
Opening an issue to gauge interest in making ruby a supported lanugage

[2019-01-05 16:47] sh7dm opened #142 "JS (Node) support"
Add support for JS.

[2019-01-05 16:49] Skarlso commented on #140
Sure 😊

[2019-01-06 23:12] greg-benner-klick-sensei commented on #103
JS ftw

[2019-01-07 05:28] Skarlso opened #145 "Make Gaia work with go modules"
@michelvocks What do you think?  :)

[2019-01-07 06:50] michelvocks commented on #145
@Skarlso yeah absolutely!
To be honest, I still didn't had a look at go modules. 😿

[2019-01-07 08:15] Skarlso commented on #145
@michelvocks To be honest, modules would make vendoring obsolete as to everyone who does a `go get` will have the specific module that Gaia requires to the hash. So we can be sure that the right dependencies will be used.

That said, we can keep the vendor folder with `-mod=vendor` applied to `go build` for example and the rest of the commands. Do you prefer keeping the vendor folder? It would mak

[2019-01-07 08:55] michelvocks commented on #145
That's a dope point in my opinion. Let's remove it 😄

[2019-01-07 08:58] michelvocks commented on #140
Started working on this 🤗

[2019-01-07 09:05] Skarlso commented on #97
Uh, I really should pick this up... :D

[2019-01-08 05:18] #145 closed

[2019-01-08 16:04] leberknecht opened #147 "[Question] Can i trigger build via API?"
Ahoi!

I couldnt find it on the docs, maybe i just missed it, but is it actually possible to trigger the builds/jobs via an API or something? In my use case, i need the build to run whenever a file is upload to a bucket on gcloud. I can hook the event with a cloud function, but not sure how to trigger execution then.

[2019-01-08 16:07] Skarlso commented on #147
@leberknecht hi. The API is strongly protected with JWT and such. If you can authenticate a cli client, then yes, sure. :) The endpoints are available the admin is just a frontend for it.

[2019-01-08 16:13] leberknecht commented on #147
Cool thing!
...Can you point me to documentation for the API or alike? :)

[2019-01-08 16:18] leberknecht commented on #147
Ah sorry, missed the last part somehow.. so for the logs:

[code]
did the trick

[2019-01-08 16:18] #147 closed

[2019-01-09 11:10] davojan commented on #103
Please implement it in typescript
You'll get much better and maintainable code and type definitions for typescript users for free :)

[2019-01-15 09:25] leberknecht opened #149 "Problem using git@ uri: "SSH agent requested but SSH_AUTH_SOCK not-specified""
Hi,
im getting the above error when trying to add a pipeline with "git@...". Im running the `gaiapipeline/gaia:latest` container, i configured `/root/.ssh/id_rsa` and pub key, so if i exec the git-clone inside of the container, it works fine. Any hints? Google mostly points me to something with windows and putty, which isnt the case for me (running on k8s cluster on gce). The `PipelineGitLSRemote`

[2019-01-15 09:47] Skarlso commented on #149
@leberknecht Hi. Looks almost like the SSH agent is not running. 🤔

[2019-01-15 10:44] leberknecht commented on #149
Indeed, i was able to workaround this by setting up ssh env in the entrypoint:
[code]
The container is pretty straight forward:
[code]
Is `gaiapipeline/gaia:latest` supposed to invoke the ssh-agent?

[2019-01-15 11:22] speza commented on #25
### Idea

#### Summary

Any software that allows user based authentication generally has a permission system. This is to allow granular access to specific resources. Gaia requires something like this so that we can control what users can do throughout the tool.

I believe a simple policy based permission system (think simplified AWS IAM) would be a good solution.

#### Concept

- Users can be assi

[2019-01-15 11:37] Skarlso commented on #149
No, not really. The container isn't running an ssh-agent.

What you could do is forward your local socket to your container like this:

[code]

You could try this..

[2019-01-15 11:46] Skarlso opened #150 "Document the API and using Gaia without the Admin client"
There has been need to not use the UI but rather the API directly. We need to document a proper way of using the API without the admin client and document the API as well and it's features.

[2019-01-15 13:11] leberknecht commented on #149
Hm, wont solve the problem on gce :D But im ok with the workaround, will close this one. But maybe this should be mentioned on the docs :)

[2019-01-15 13:40] Skarlso commented on #149
Generally ssh-agents aren't running in containers. This isn't really Gaia specific but rather a Docker specific thing. Unless you know otherwise and I'm missing something.... But that's how it used to be as far as I remember, and I'll be honest, I didn't do research on this ATM. :)

[2019-01-15 19:54] michelvocks commented on #149
@leberknecht Could you elaborate a bit on your use case? Would be awesome to hear a bit about the background. 😄

[2019-01-15 20:03] michelvocks commented on #25
@speza In my opinion that is exactly what we need! 😄

I think this is quite important, too. I often used this in jenkins and it would be awesome to have this in Gaia. I think we can also add this later in another PR but we should keep this in mind when we work now on the authorization system.

Looking forward to see some work here from you! 🤗

[2019-01-15 20:08] michelvocks commented on #150
@Skarlso thanks. We need this for sure!

I also think that the current way of triggering a Gaia pipeline is too complex and not really user friendly (send request to get bearer token, send another request to trigger pipeline).
It would be cool if (optional) Gaia would automatically generate a token (or user provides one) and this could be used to trigger one specific pipeline. What do you think?

[2019-01-15 21:31] Skarlso commented on #150
@michelvocks Hmm. How would you get to that token? Or would you have to use an authenticated admin for it which gives it to you for later usage? We'd have to safe the triggering token / pipeline, which should be fine. 🤔

[2019-01-16 11:06] michelvocks commented on #150
@Skarlso

Exactly. In the pipeline settings you should be able to set/generate a token and attach it to one specific pipeline.
I know this feature from jenkins: https://humanwhocodes.com/blog/2015/10/triggering-jenkins-builds-by-url/
But there it's in my opinion also too complicated. I think there is no reason for providing two tokens.

[2019-01-16 11:24] Skarlso commented on #150
Cool! That sounds doable!

[2019-01-16 11:34] leberknecht commented on #149
Sure :)
Actually the use case not very special i think: if i fire
[code]
on my host, the container is launched successfully, i can log in on http://localhost:8080
Then i want to create a pipeline and enter a repo url like `git@github.com:gaia-pipeline/gaia.git`
And then the error shows up :)
(Just double checked, this happens on the k8s pod as well as on my local host)

Does this work for you (tha

[2019-01-16 11:48] Skarlso commented on #149
@leberknecht FYI: https://github.com/gaia-pipeline/gaia/issues/150
This is happening. So there should be a much easier way after this is implement to trigger a pipeline.

[2019-01-16 18:10] michelvocks commented on #149
@leberknecht I was able to reproduce your problem and that is definitively not intended and therefore a bug. Thanks for reporting! I will reopen your issue as long as this is not fixed.

[2019-01-17 04:52] Skarlso commented on #149
Ops. My bad for missing it then. I apologise.

[2019-01-17 08:41] leberknecht commented on #150
It would be great if you could provide open API / swagger specs for the API, so we can use existing tooling like swagger-codegen to generate clients for SDK :)

[2019-01-17 10:13] Skarlso commented on #150
![ill-consider-it](https://user-images.githubusercontent.com/182850/51311328-f6143e00-1a48-11e9-99ed-d0fd33e901a2.jpg)

[2019-01-18 14:02] Skarlso opened #151 "Make a pipeline triggerable more easily"
Add a token to a pipeline when it's created and display that token on the screen so it can easily be triggered through an api that doesn't require tedious authentication.

[2019-01-18 14:02] Skarlso commented on #151
Going to start on this.

[2019-01-19 13:34] Skarlso commented on #151
Uh I just realised that also means that the parameters would have to be passed along via a json body.

Like if your job has parameters that you need to set when it's running. Must also be considered. Trigger with parameters if you will

[2019-01-19 17:06] michelvocks commented on #151
Right. We just need to make it easy to generate those two tokens. We already using token generation for UUID. I'm not quite sure but this shouldn't be guessable, right?

Uh, yeah, true. This is quite important too.

[2019-01-20 11:44] michelvocks commented on #142
Thanks @sh7dm. I will close this issue because it's a duplicate of #103.

[2019-01-20 11:44] #142 closed

[2019-01-20 12:43] michelvocks opened #152 "Pipeline Create: Check if pipeline already exists with given name"
During pipeline creation it is not checked if a pipeline with a given name is already in use: https://github.com/gaia-pipeline/gaia/blob/master/handlers/pipeline.go#L98

This feature was not implemented in the past because there was no way to delete a pipeline.
Since #30 has been merged this feature can now be implemented.

[2019-01-21 08:37] speza opened #155 "Refactor views/settings/index.vue to be more component based"
Refactor settings/index.vue to be more component based

Currently the settings view is all in a single Vue file - views/settings/index.vue.
This is an anti-pattern of using a component based frontend library.

I imagine there are other areas of the client code-base that are the same (this just happened to be the one I was in).

Examples of new components to build out of index.vue:
- ManageUsers.vu

[2019-01-21 15:07] Jleagle opened #156 "C# Support"
Would be great to have a C# SDK. Thanks.

[2019-01-27 15:41] Skarlso opened #157 "Pipeline triggering cause"
As part of my other ticket with remote triggering I thought I'd also add a start reason for a pipeline on the pipeline view. Like `remote` `scheduled` `manual`.

[2019-01-28 08:45] michelvocks commented on #157
Cool. Like that ❤️

[2019-01-28 08:47] #140 closed

[2019-01-28 09:18] ziras commented on #103
[README](https://github.com/gaia-pipeline/gaia#motivation):

Based on this, typescript support and javascript support should probably be considered separate. I'd suggest create a ticket for typescript support in this case.

[2019-01-28 19:10] davojan commented on #103
@ziras implementation written in typescript gives JS-support for free, users will not even notice that this is implemented in typescript. So it will kill two birds with one stone :)

[2019-01-29 02:22] ziras commented on #103
@davojan That's a good clarification. Thanks!

[2019-01-29 20:54] michelvocks opened #160 "Add go linter to circleci"
We are not enforcing the `go linter` (https://github.com/golang/lint) currently during circleci build. We should do that.

[2019-01-30 21:42] michelvocks opened #161 "Fontawesome upgrade to vuejs module"
We are using font-awesome V4 and should migrate to font-awesome V5 which comes with its own vue.js module: https://github.com/FortAwesome/vue-fontawesome

Migration includes removing old font-awesome V4 module and changing all existing icons to new vue.js tag.

[2019-01-30 21:44] #13 closed

[2019-01-30 21:44] michelvocks opened #162 "Create contribution guide"

[2019-02-01 16:14] Skarlso opened #163 "Remove the Iter function from ActivePipelines"
It doesn't really provide any sane functionality, since it's linear but adds traps and confusion since the channel cannot be broken out of. Which means if a pipeline is not found, we need to check names instead of nil. Or the fact that it has to always go through all of them all the time. This wouldn't be true if we had an additional way to signal a cancel, but that just adds complexity without re

[2019-02-01 19:54] speza opened #164 "[Permissions] Add the ability to define permission groups"
[Permissions] Add the ability to define permission groups

There is now a basic permissions system in the form of user roles. We should add the ability to create permission groups where the roles can be configured. Users can then be added or removed from groups, effectively granting them the extra permissions of the groups they are part of.

[2019-02-01 19:57] michelvocks commented on #92
This issue is now blocked until #46 is implemented because of the following reasons:

* After working on several prototypes and POCs I have found out that implementing this issue without #46 makes no sense.
* The whole pipeline build process and pipeline execution is tightly coupled to local filesystem actions (which makes sense in my opinion).
* Building and running pipelines inside a Docker cont

[2019-02-01 20:06] michelvocks commented on #25
Most of this is done by #154. Missing feature (groups) is now tracked in a separate issue #164.

[2019-02-01 20:06] #25 closed

[2019-02-01 20:54] michelvocks commented on #107
One additional point which is missing in the RFC: Securing the communication between Master and Worker.

Following the proposal:
1. Generate a global secret in Gaia Master. This secret can be replaced by a newly generated one (in case of a leak).
2. Every Worker expects that secret as an argument as well as the hostname of Gaia Master.
3. Gaia Master provides two different gRPC APIs: 1.) Registrat

[2019-02-02 11:02] Skarlso opened #165 "Cleanup the Go Card issues"
Since the last commit, a bunch of Go Card issues were introduced. Like not proper formatted documentation and such. @speza Would you mind going through the go card and fixing them please? :)

Cheers!

[2019-02-02 14:10] michelvocks commented on #152
Fixed by #153

[2019-02-02 14:10] #152 closed

[2019-02-03 06:32] #165 closed

[2019-02-06 08:29] Skarlso opened #169 "Document the new remote trigger capability"
I... did not do that. :/

[2019-02-06 08:31] Skarlso opened #170 "Create a pipeline details view"
This view should show details about the current pipeline:
- [ ] Trigger token
- [ ] Name
- [ ] Last run time
- [ ] Location
- [ ] Remote fork url
- [ ] Branch
- [ ] Last log entry
- [ ] ...?

[2019-02-11 20:16] Skarlso opened #171 "Create ability to enable polling from UI"
If one runs out of Kubernetes, or has limited access to the command line, it would be good if one could enable / disable polling without restarting Gaia.

[2019-02-15 16:20] michelvocks commented on #149
@leberknecht #172 should fix your problem. It's important to know that you included your SSH username in your git url. I've added a small validation step which will indicate that.

[2019-02-15 16:27] michelvocks opened #173 "Store credentials in Vault"
Credentials like git username/password and git private ssh key are currently stored as plain text in boltdb. Since we now have #56 we could save this information there which increases the security.

[2019-02-16 08:51] Skarlso commented on #173
Splendid!

[2019-02-23 17:08] #149 closed

[2019-02-27 12:11] Skarlso commented on #171
Will be closed by #174

[2019-03-01 06:57] #163 closed

[2019-03-02 15:36] #171 closed

[2019-03-04 07:58] #160 closed

[2019-03-04 11:22] Skarlso opened #177 "Use GCM for encryption in Vault"

[2019-03-04 11:35] Skarlso commented on #177
GCM is authenticated but suffers from other things. It would make the encryption part a lot easier without needing padding. However it requires a randomised nonce and for that, we must consider properly maintaining a counter to avoid the birthday bound of random nonces problem.

[2019-03-04 14:38] Skarlso commented on #177
This is a bit harder than it first looks. GCM is awesome, but where we store the counter for the unique IV is not trivial at all.

I have yet to see a nice enough implementation of AES-GCM-SIV and I don't think storing the counter in the DB is good. Because if the db gets wiped but the vault does not, the counter will reset to 0 which is bad because it will generate a non-unique value for the same

[2019-03-04 14:41] michelvocks commented on #177
Hey @Skarlso
What is the use case here?

[2019-03-04 14:45] Skarlso commented on #177
GCM would provide an increased encryption security and also, as an added bonus, authentication. That means that we would have a way to detect tempering with the vault file. The decryption simply wouldn't work if the file has been tempered with.

The problem is that using random IVs as I'm doing it now, is not feasible with GCM. It will repeat itself after 2^32 uses of random nonces with the same k

[2019-03-04 14:48] Skarlso commented on #177
In short.. increased security, decreased complexity. Given I can solve the counter issue.

[2019-03-04 14:53] michelvocks commented on #177
Cool. HashiCorp Vault uses AES + GCM:

Maybe we can have a look there how it is implemented?

[2019-03-04 14:56] Skarlso commented on #177
@michelvocks https://github.com/hashicorp/vault/blob/ebc733f4ca5d362fdfb302ac75953228585c54a2/vault/seal/envelope.go#L34

Bad Hashicorp. :( bad. :(

[2019-03-04 14:57] Skarlso commented on #177
@michelvocks https://github.com/hashicorp/vault/blob/e9256ed4775a5cf517a3aa71f148ce4d50ef2b42/vault/barrier_aes_gcm.go#L839

I'm disappointed. Can you fix this? :D

[2019-03-04 15:12] Skarlso commented on #177
@michelvocks Ok. I've talked to some people and re-read the RFC here: https://tools.ietf.org/html/rfc5288#section-3

The counter can be a known value. The cipher must be a secret though. Having it derived from the certificate might be a problem 🤔 But I will ponder that later.

[2019-03-04 15:23] Skarlso commented on #177
On of the options I'm thinking of is upon starting Gaia, the user has to unlock the vault or enter a password for the vault.

Once Gaia is running the vault can be accessed without the need of entering a password.

However, that means we'd store the password in memory. Arguably that's way better than storing it on the file system like the certificate. But would increase the trouble a person has to

[2019-03-04 15:38] Skarlso commented on #177
While thinking about this, one thing that came to mind is that this would break backwards compatibility. Gaia would no longer start unless you have this property defined.

I could auto-generate one, but that would get lost on the first re-start making the second start fail to decrypt the vault.

[2019-03-04 15:50] michelvocks commented on #177
I really like how you are thinking but in my opinion we are reinventing Vault then and, like you already said, it is not really user-friendly.

If you really need this kind of security, I would recommend to store credentials in HashiCorp Vault and get credentials on the fly during pipeline execution. That doesn't mean that I don't like GCM, I still think we should switch to GCM but maybe use a "le

[2019-03-04 15:57] Skarlso commented on #177
Okay. 👍 :) True. I'll use GCM and still use the certificate. I'll think of something later. Maybe store it next to the vault. :)

[2019-03-07 05:32] Skarlso commented on #177
Closed by #178

[2019-03-07 05:32] #177 closed

[2019-03-08 12:54] Skarlso opened #179 "https://golangci.com/"
@michelvocks Dude!!!

[2019-03-08 12:57] Skarlso commented on #179
Does reports like this:
<img width="888" alt="screenshot 2019-03-08 at 13 57 20" src="https://user-images.githubusercontent.com/182850/54029828-1b503d80-41aa-11e9-8c2b-f090948a24c5.png">

Line by line on a PR.

[2019-03-08 15:59] michelvocks commented on #179
@Skarlso Cool. Let's try it 😄

[2019-03-08 15:59] #179 closed

[2019-03-08 15:59] Skarlso commented on #179
Awesome! :D

[2019-03-27 20:17] Skarlso commented on #151
This was addressed by https://github.com/gaia-pipeline/gaia/pull/158

[2019-03-27 20:17] #151 closed

[2019-06-13 15:41] DHunte opened #182 "Cannot access git repo: ssh: cannot decode encrypted private keys"
Hi,

Im having issues with using the SSH key for my account. I followed the default guide [here](https://help.github.com/en/enterprise/2.15/user/articles/adding-a-new-ssh-key-to-your-github-account) which apparently outputs an encrypted private key that golang ssh does not support I believe?

Cannot access git repo: ssh: cannot decode encrypted private keys

Iv not seen any issues related to it in

[2019-06-14 05:36] michelvocks commented on #182
Hi @DHunte,

thanks for your report!

I assume that you try to pull pipeline code via Gaia from a private GitHub repository?
In theory, this should work. Did you try to add your SSH user and your password from your encrypted OpenSSH key? When you create a new pipeline, there is a button called `Add Credentials` which opens a popup. In this popup you need to click on `SSH Key`:

![Screenshot 2019-0

[2019-06-14 09:31] DHunte commented on #182
Hi,

Thanks for the response but yes this is actually the screen previous to the one that displays the warnings :

Cannot access git repo: ssh: cannot decode encrypted private keys

This warning appears after I have entered the credentials, in red text below the git private url bar and after I have added the private ssh key, username and password. I have tried many times and tried various methods

[2019-06-14 14:00] michelvocks commented on #182
Hi @DHunte,

I was able to reproduce your issue.

The problem is that ssh-keygen now produces automatically a key in RFC4716-format. A few months ago, it was still the old "PEM" format. Go does not support SSH keys in the RFC4716-format. It does support keys in the PKCS#8 format but only unencrypted keys are supported currently.

The workaround, for now, is to generate a private key in the old PEM

[2019-06-17 07:34] DHunte commented on #182
Awesome it works now, thanks for taking the time to investigate this issue. I think the issue is now closed as I can get it working but it seems that given the tutorial is the standard for github its maybe worth mentioning somewhere until go implements a fix?

[2019-06-17 07:41] michelvocks commented on #182
@DHunte Yes, definitely. Please leave this issue open as a reminder for us 😄

[2019-06-25 08:37] #107 closed

[2019-06-25 09:07] michelvocks commented on #46
Now supported via #166

[2019-06-25 09:07] #46 closed

[2019-06-28 20:12] Skarlso commented on #182
@michelvocks You mean, this? https://godoc.org/golang.org/x/crypto/ssh#FingerprintLegacyMD5

[2019-06-29 20:59] Skarlso commented on #182
Can't we use fingerprints? I have to check what's the concrete problem first and where. But usually, SSH only compares fingerprints since those are much smaller than the whole key.

And Go does support creating RFC4716 type fingerprints.

[2019-06-29 21:06] Skarlso commented on #182
Yeah if I see correctly, we are trying to find the public keys for a user? I think we should be able to do that using fingerprints only.

[2019-06-29 21:11] Skarlso commented on #182
Oh, I think it's actually go-git which needs to do something about this. Since that's who's SSH package we are using. We explicitly names the go-one `gossh`.

[2019-06-30 11:55] Skarlso commented on #182
Here is the error origin btw: https://github.com/src-d/go-git/blob/master/plumbing/transport/ssh/auth_method.go#L126

[2019-07-01 06:43] michelvocks opened #185 "Set pipeline binary OS permissions accordingly"
Pipelines build by Gaia are automatically copied to the pipelines folder with `0766` permissions. For example: https://github.com/gaia-pipeline/gaia/blob/master/workers/pipeline/build_cpp.go#L92

In my opinion, this is currently not "least privilege" since only the current user needs access rights and not the whole group + everyone else.

The proposed solution is to change this to `0700`. This all

[2019-07-02 06:21] Skarlso commented on #182
Note, I filed a feature request to go-git.
https://github.com/src-d/go-git/issues/1171

[2019-07-02 09:58] michelvocks commented on #103
Fixed by #183

[2019-07-02 09:58] #103 closed

[2019-07-03 13:30] DHunte commented on #182
Thanks for taking a look into this issue and raising the error with gogit - but maybe it would be a useful feature to allow access-tokens for authentication. Some other event systems such as beehive https://github.com/muesli/beehive/ already have a git worker that authenticates using access tokens, it seems like a good alternative until the ssh issue is resolved?

[2019-07-03 13:56] Skarlso commented on #182
@DHunte Either github is bugging, or I don't see your comment. I've got the email about it though. :)

You can use the token in the password field in a regular checkout.
[code]

[2019-07-08 20:11] DHunte opened #187 "Define repositories by configuration"
Hi,

I read through the documentation for this feature but couldnt see any support for it, but i think it would be useful to have some kind of support for repositories configurations on start-up without using the UI.

When using the docker image it is a somewhat common use case to deploy and then tear down configurations resulting in having to redefine all the repositories containing pipelines man

[2019-07-09 04:31] Skarlso commented on #21
PHP is officially supported, and I've spent the last 4 years writing it, so I'm going to tackle this.

[2019-07-09 07:33] Skarlso commented on #187
Agreed.

[2019-07-09 07:35] Skarlso commented on #187
@DHunte To be fair... If you create them one, and save the DB plus the resulting cloned out code and copy it under a new instance, you would basically retain every information you previously set - up.

[2019-07-09 07:41] Skarlso commented on #187
@DHunte What would be a good configuration format you would love to see / use for this purpose?

I'm thinking yaml since, although there exists a lot of better things, it is something that Gaia is already using, and thus users would be more comfortable with that.

Also, I'm not looking to create something like Jenkins' pipeline Groovy files do. This is literally just defining pipelines. All the co

[2019-07-09 07:47] Skarlso commented on #187
Also, would this be something that is only done on startup, or would continuously watch a folder to see if a new configuration file has been added?

[2019-07-09 11:28] DHunte commented on #187
- From my perspective, i think YAML makes sense and is relatively standard in devops configs...despite the overall gaia project trying to escape yaml for the pipelines themselves. Never the less its a clear and simple format to use. Otherwise literally any simple config format is also fine by me.
- For my usage of gaia, I only need it personally on startup but im guessing others as you said may ha

[2019-07-09 11:33] Skarlso commented on #187
@DHunte Thanks for your input! Yeah I'm sensing something like, if it's there, the configuration could change and be updated. In order to completely avoid or automate the creation / update of pipelines in Gaia.

Some of it can be done now via the API, but it's cumbersome. If there is a directory that Gaia can work out from, I'm thinking that might be preferred.

There are only a few things that ca

[2019-07-09 19:59] Skarlso commented on #21
Oh frak... Only PHP Clients are supported. PHP servers are not supported. :(

[2019-07-09 20:00] Skarlso commented on #21
Might work with this one: https://github.com/spiral/php-grpc

[2019-07-09 21:14] Skarlso commented on #187
Started working on this.

[2019-07-10 05:59] Skarlso opened #188 "Pipeline Schedule button errors out"
After the latest update, the pipeline schedule button on Create Pipeline view is not working.

[code]

I'll fix this ASAP.

[2019-07-10 17:27] michelvocks commented on #187
Hi @DHunte and @Skarlso,

I'm wondering a bit about the use-case of this feature. I think the general idea and also the best advice is to copy / backup the data folder of your Gaia instance. If you are using the Gaia docker image, you can simply mount the `/data` path to your local path which allows you to store all the relevant data from Gaia on your host environment.

If you really want to wipe

[2019-07-10 19:59] #188 closed

[2019-07-10 21:05] Skarlso commented on #187
It can detect pre built binaries but without the db those are just executed if I remember correctly. You won't have any credentials with it like username password and private key. Those would be in the db. Also you wouldn't had things like, web hooks and github tokens. Basically anything that would be stored in the db which presumably or for some reason you don't have. Maybe it was comprised. Or j

[2019-07-11 05:42] michelvocks commented on #187
Gotcha!

However, it is still possible to define all pipeline information in a JSON file and send that to the Gaia API via cURL which would basically provide the same functionality you described here.

I don't want to be the gatekeeper here but I want to make sure that the features we implement and we also have to maintain in the future, are valuable and provide functionality which makes sense. On

[2019-07-11 06:41] Skarlso commented on #187
I understand of course. And was also under the impression that coping over things is something that's absolutely doable. I guess it's up to @DHunte. What do you think?

[2019-07-11 11:00] DHunte commented on #187
Hi all,

Thanks again for the breakdown.

After reviewing the options outlined, I would like to give my perspective on why I would still prefer to have a config file way to define the pipelines – though I understand and appreciate the minimalist approach with gaia as it’s the most complete, lightweight pipeline iv used.

The method of copying the database and/or its contents over seems to be a pro

[2019-07-11 11:23] Skarlso commented on #187
Basically, this would give a faster/cleaner way of bootstrapping pipelines if you happened to have no Gaia running before, or you want a clean database start. The version migration didn't occur to me. That's also a good point.

The polling I'm giving a variable so it can be turned off, or rather, by default it's turned off. It's an opt-in basis.

For secrets I devised a plan where the Yaml would h

[2019-07-11 13:28] michelvocks commented on #187
Hi @DHunte,

thank you for taking the time to clarify this feature request.

I might misunderstand you here, but that sounds to me like you want to have something like the poll-functionality. We already have an integrated polling mechanism which looks for changes in your pipeline source code git-repository and if a change has been detected, your pipeline will rebuild and replaced with the newer ve

[2019-07-11 13:33] Skarlso commented on #187
Jenkins does provide pipeline files which essentially lets you describe jobs programatically. :) As does gitlab via .gitlab-ci.yml files which lets you describe jobs and pipelines and connections.

I don't think starting gaia is the goal per-say, but imagine that, you have Gaia, create a pipeline, then remote execute it with the remote service all from command line without ever touching the ui inc

[2019-07-11 14:17] michelvocks commented on #187
Isn't that the same you currently do with Gaia pipelines? When you write a Gaia pipeline, you define the jobs, the execution order of the jobs and other stuff like arguments. I really would love to see the difference but I don't see it 🙈
When you wrote a new Jenkins pipeline or a new Gitlab CI job YAML file, you still have to open the UI and tell Jenkins/Gitlab where the source code is located. Th

[2019-07-11 14:19] Skarlso commented on #187
Hmm, you are right. Sorry, the Jenkins Pipeline was the whole pipeline not the execution of a binary. 🤔Same for Gitlab, for which have the... pipelines. :D I see your point.

[2019-07-12 08:08] #185 closed

[2019-07-12 20:38] Skarlso opened #192 "strings.ReplaceAll is will not work on go version < 1.12"
@michelvocks Hey. Do we care about this? strings.ReplaceAll in workers/agent/agent.go is a new addition. It was Replace(new, old, -1) before. I'm not sure we care as we always strive to go ahead with the latest change, but as Go progresses and Gaia progresses we won't always be able to upgrade immediately.

Granted, replaceAll isn't working on go1.11 which is an older version. But it's still the d

[2019-07-12 20:42] Skarlso opened #193 "Tags for workers should be sorted alphabetically"
It just looks ugly. :)
<img width="307" alt="Screenshot 2019-07-12 at 22 41 59" src="https://user-images.githubusercontent.com/182850/61157398-549d0f00-a4f6-11e9-8862-0420e04757ef.png">

[2019-07-12 20:48] Skarlso opened #194 "The worker requires a different binary architecture than what the builder sent it"
@michelvocks Hi!

I thought the worker rebuilds the binary once it's trying to run it? I have a worker which is a linux machine, a raspberry pi model 4 running Raspbian GNU/Linux 10 (buster). That's a debian distro.

Once my worker picks something up, I'm getting this error:

[code]

Which clearly says that the binary is in an invalid format.

[2019-07-12 20:51] Skarlso commented on #194
Also getting this warning:

[code]

Which I'm not sure I quite understand since the worker registered successfully.

[2019-07-12 20:53] Skarlso commented on #194
At least workload sharing appears to be working. :D Once I started two jobs in quick succession they did pick them up individually. ( I have 2 of them ).

[2019-07-15 04:12] #193 closed

[2019-07-15 06:55] michelvocks commented on #192
In my opinion, that's fine. The default go version might be below 1.12 for some linux distributions but they still can update manually if they really want to compile Gaia.

[2019-07-15 07:00] michelvocks commented on #194
Currently, we do not support the build of a pipeline on the worker side. This is on my list since this is also wanted/needed for docker pipeline runs but for now it is simply not supported.

This happens when a worker sends a request to the Gaia primary instance with an ID which is not in the database (e.g. is not registered). Maybe a process still running somewhere? 😄

[2019-07-15 07:15] Skarlso commented on #194
Ah, I see. :D I didn't realise that, sorry. Should I take a look at it, or do you already has some thoughts on the matter? :)

Also, yeah no.. no idea why it was saying that. :( I'll have to do some more testing.

[2019-07-15 11:28] michelvocks commented on #194
Feel free to pick that up if you want. My general idea was the following:
Worker tries to download and verify pipeline on worker -> verify step fails on worker -> worker tries to clone source repository if it is available -> worker builds pipeline and verifies it -> worker runs pipeline run.

What do you think?

[2019-07-15 11:36] Skarlso commented on #194
Hmm...

Pros:
We already spent the resource of verifying and building the thing, so building it again is futile. We can just reuse what's already there. But that means you have send the binary to the worker. Which brings me to...

Con:
You have to send the binary to the worker which arguably is the larger cost of bandwidth. Usually if you are on a server, you don't care about spent CPU and memory.

[2019-07-15 11:49] michelvocks commented on #194
Yep, that was the reason why I already implemented the download of pipelines. So workers currently detect that the plugin is not locally available and download them from the primary instance.

I think a single binary (which is usually machine code) is usually much smaller than the source code (with comments etc. included).

[2019-07-15 11:51] Skarlso commented on #194
Yep. True. I'll do it. ;)

[2019-07-15 12:46] Skarlso commented on #194
so two interesting notes...

First:
If you now start the frontend first, it will bind to 8080 which will block the local gaia 8080. This is interesting because the previous one didn't do that.

Edit: Oh:
[code]

This will mess things up since Gaia backend default is 8080 too.

Second:

Why does it look so ugly now? :DDDD

<img width="1666" alt="Screenshot 2019-07-15 at 14 43 35" src="https://user-

[2019-07-16 06:45] Skarlso opened #196 "Cancelled pipelines no longer show up as cancelled, but failed."
The cancel button should have made the pipeline to "cancelled" and it's remaining jobs as simply skipped. Instead it was in a failed state.

<img width="1682" alt="Screenshot 2019-07-16 at 8 43 33" src="https://user-images.githubusercontent.com/182850/61271836-f007db80-a7a5-11e9-90bb-ec8c1d462958.png">

[2019-07-16 06:47] #192 closed

[2019-07-16 07:46] Skarlso commented on #196
This will be a difficult one, I think. It looks like the plugin dies first and fails to set the cancelled state somewhere. I'll take a look at it later.

[code]

[2019-07-17 06:21] #196 closed

[2019-08-08 16:13] Skarlso opened #202 "The nounce counter can potentially overflow"
If there are many many requests to the vault it's possible to overflow the integer nounce counter. I should fix that.

[2019-08-08 19:38] Skarlso commented on #202
More precisely, if it gets above 18446744073709551615.

[2019-08-19 11:59] Skarlso opened #203 "[Refactor] Avoid mixing value and pointer semantics all over the place"
In all the source code there are a lot of places where pointers are not needed or are declared all over the place.

When we first create a struct, we don't know it's memory address so using pointer semantic is pointless ( pun intended :D ).

Something like this:

[code]

These things are confusing and are hard to read. This means you will have a cognitive load whenever you see this variable passed

[2019-08-19 12:38] Skarlso opened #204 "There is no len check on active pipelines remove / update methods"
[code]

These can and do cause index out of bounds errors.

[2019-08-19 20:36] michelvocks commented on #202
I assume the nounce counter is increased by one when a secret is stored?

[2019-08-19 20:37] michelvocks commented on #203
Good idea! I like that 😄

[2019-08-20 08:08] Skarlso commented on #202
Yep

On Mon, 19 Aug 2019, 22:36 Michel Vocks, <notifications@github.com> wrote:

[2019-08-21 07:44] Skarlso commented on #203
I'm going to break this down into package sized issues to avoid a pr that has a ton of modifications.

[2019-08-22 10:17] michelvocks commented on #202
Well... then I think it's fine 😄

[2019-08-25 20:02] Skarlso opened #205 "It's high time. Do a trace and pprof run on Gaia"

[2019-08-25 20:04] Skarlso commented on #205
Actually, I know there are more immediate issues out there which need attention, but man I ran into a race condition with the tests again today. So I'm a bit afraid that we should optimise the routines a bit.

[2019-08-27 20:24] #156 closed

[2019-08-30 20:03] #202 closed

[2019-09-02 10:06] #204 closed

[2019-09-03 07:25] michelvocks commented on #205
Yeah, sounds like a good idea. Especially the scheduler is critical and could potentially have some leaking routines.

[2019-09-03 07:27] Skarlso commented on #205
Aye. I agree. I'll get into it, once the worker rebuild is finished. I'm really eager to trace things. :)

[2019-09-03 15:16] Skarlso opened #207 "Parsing the flag can end up in a nil pointer if err == nil"
https://github.com/gaia-pipeline/gaia/blob/master/server/server.go#L77

This code segment here can cause a nil pointer exception is err is nil in the call `err.Error()`.

[2019-09-03 15:18] Skarlso commented on #207
Reproduce:

Run a worker with `.gaia_config` file defined and no parameter:

[code]

[2019-09-04 07:37] everimbaq opened #208 "Is server and worker mode fault tolerant?"
We are considering to use it to execute ci&cd pipeline. Is gaia server and worker fault tolerant? A local database dose not work well on high avaliablity . I read the source code and can't find docs about this. Thanks~

[2019-09-04 07:39] Skarlso commented on #208
?

[2019-09-04 07:45] Skarlso commented on #208
Hi @everimbaq. It is as fault tolerant as you make it. :)

The main master will choose workers based on availability. Pipelines will not be bound to a worker. Labels are used for that. Which means if, for example, you have a kubernetes deployment and your workers are pods and a worker is restarted / dies, the pipeline will just continue to work and schedule work on a different worker.

Now the mas

[2019-09-04 07:55] everimbaq commented on #208
Thanks for your detailed and clear description.

[2019-09-04 07:55] #208 closed

[2019-09-04 07:59] Skarlso commented on #208
Oh and btw, if the master dies, the workers will keep trying to periodically contact it. And once the master comes back up, they will all just reconnect if it has the same address. No need to restart the workers.

Yw. :) Thank you for opening an issue!

[2019-09-04 13:35] #207 closed

[2019-09-04 13:35] Skarlso commented on #194
Done in #200.

[2019-09-04 13:35] #194 closed

[2019-09-07 13:50] Skarlso commented on #205
Alright, found my first data race already. Going to work to fix this one first as it's the easiest to find and reproduce.

[code]

[2019-09-08 08:10] Skarlso commented on #205
@michelvocks At the top of your head, do you know the reason for implementing Plugin with pointers? I saw no reason in particular. Plugins aren't shared as far as I can see.

The Flush operation is causing a race condition through the scheduler. Apparently more than one routine at the same time can't flush. This is the most obvious race in Gaia.

Using values would fix it since plugins wouldn't be

[2019-09-08 19:50] Skarlso opened #210 "Update the vault's encrypt method description"
Just noticed that I didn't change the description after I updated the encryption to use GCM. :/ Bad me.

[2019-09-09 09:33] michelvocks opened #211 "Update python sdk to python 3"
The python SDK is currently optimized for python 2.7 which will be not longer supported by 01.01.2020. We need to upgrade the SDK to support python 3.

[2019-09-09 09:40] michelvocks commented on #205
@Skarlso Yes. One plugin instance is always one plugin run. We need to have an instance since we need to run multiple jobs synchronously via this instance. If we don't have a plugin instance, we would have to start the plugin for every pipeline job which is very insufficient.

Additionally, a user potentially wants to share data/information between jobs within a pipeline run. If we create a new pl

[2019-09-09 10:13] Skarlso commented on #205
That could be achieved by giving back a modified version of the struct, instead of passing it around as pointers, not?

[2019-09-09 12:04] michelvocks opened #212 "Worker deregister button is broken"
Currently on master branch, the settings -> worker -> deregister worker button does not work.

[2019-09-09 12:06] Skarlso commented on #212
Oh My 😮

[2019-09-09 14:11] michelvocks commented on #205
I don't know how but maybe we are talking past each other. Could you elaborate a bit more on the problem/solution?

In my opinion, we could easily add a mutex to the Plugin struct and add a lock to the `FlushLogs` method?

[2019-09-09 14:13] Skarlso commented on #205
Adding a mutex is a patch. :) That's like using a buffered channel instead of a channel because that appears to be solving a problem.

I'm trying to eliminate rather the possibility of race, instead of putting a mutex on it.

Of course a mutex would be easy. But that's like a leaking boat, and putting a patch on the leak, instead of trying to fix the boat, I think.

On 2019. Sep 9., at 16:11, Mich

[2019-09-09 15:00] Skarlso commented on #205
That said, it can occur that a mutex IS the solution. But I would like to make sure, I'm not just patching a sinking boat. :)

[2019-09-09 19:01] Skarlso commented on #205
I'm gonna show you in a draft pr what I meant and like'd your opinion on it. :)

[2019-09-09 20:55] Skarlso commented on #205
Ah, yes. It's way too much work and ends up being ugly. Mutex it is I guess. :)

[2019-09-09 21:02] Skarlso commented on #205
Hah no, I succeeded, but get this. Because of other things, like Job and such, I still got a data race at flush! But this is a good thing. Because no I verified that indeed a mutex is a good approach at this point. :) Awesome.

[2019-09-10 04:37] Skarlso commented on #205
Get this! :) Just so I could ease my mind, I got further and re-wrote a large chunk of passing around the plugin to values instead of pointers. And when there is a mutation, I pass the mutated value back instead of the pointer semantics. I got rid of the race. :) However, I don't like the resulting code that much. It's not intuitive enough and sometime it passes it back sometimes it doesn't. So I'

[2019-09-10 08:02] Skarlso commented on #205
Huh, so guess what... The mutex didn't solve the data race.

[2019-09-10 08:06] Skarlso commented on #205
Oh I know why.

[2019-09-10 08:12] Skarlso commented on #205
Well this is problematic. Gaia is racing with go-plugin's logStderr. `c.config.Stderr.Write([]byte(line))` since we have stderr replaced with our buffer. We can't just lock the flush. The flush is racing with go-plugin. Eh.

[2019-09-10 08:32] Skarlso commented on #205
So the flush happens so that the logs are displayed in the log window, if I see this correctly. But the plugin is also trying to write / read to the buffer we are providing it. This is problematic, because even if we lock on our end the plugin will not lock of course, because it's using a simple Write. Which means a data race on the buffer.

[2019-09-10 08:35] Skarlso commented on #205
Okay, so the solution must be that we implement our own writer using an underlying buffer and io writer. On which the Write is basically a bufio.Write but with a lock in it. And we then pass that to go-plugin.

[2019-09-17 07:19] michelvocks opened #214 "Make sure that "exec format error" is also thrown by different language pipelines"
We currently check if a pipeline binary needs to be rebuilt again on the worker when an exception is thrown which contains `exec format error` (https://github.com/gaia-pipeline/gaia/blob/master/workers/agent/agent.go#L464). We need to make sure that this error message is thrown for every supported programming language.

[2019-09-20 11:50] Skarlso commented on #212
I'll take care of this. Also, fix this vue warning while I'm there.

[code]

[2019-09-20 11:51] Skarlso commented on #212
Oh, just saw you assigned this one already. :) Okay, have fun. :)

[2019-09-20 11:51] Skarlso commented on #212
@michelvocks Are you also taking care of the hot reload problem?

[2019-09-20 11:55] Skarlso commented on #214
Good call!

[2019-09-20 11:56] Skarlso commented on #214
I'll take care of the other plugins as well. :)

[2019-09-20 13:44] michelvocks commented on #212
@Skarlso You can overtake that. Currently busy with the docker pipeline execution.

[2019-09-20 18:18] Skarlso commented on #212
Cool. Will do. Thanks.

On Fri, 20 Sep 2019, 15:44 Michel Vocks, <notifications@github.com> wrote:

[2019-09-21 21:11] Skarlso commented on #212
So, I'm utter shit at javascript. But I think I know what the problem is.

Funnily enough, it's related to the above vue error. Basically, the periodic check causes a race on the data, an endless update loop. Because there is no comparison before assigning the data just clobbering it over again and again, which causes an update which overwrites the data, which causes an update... etc.

And the der

[2019-09-30 10:37] Skarlso commented on #212
Found the problem. We do this sort of thing in all of the front-end stuff but what's different here is the timestamp. The different timestamp causes an update feedback loop to the render because the data changes constantly.

I'll come up with something to that. Probably something like, removing that datapoint from the comparison. ¯\_(ツ)_/¯

[2019-09-30 11:24] Skarlso commented on #212
Uh, or not. I removed for now that completely, and it still seems to complain about that. WTH....

[2019-10-05 10:31] Shivakishore14 opened #215 "Bug: Cannot create Python pipelines with spaces in the pipeline name."
Pipeline creation fails each time when creating a Python pipeline with spaces in the pipeline name.
This is not the case when creating a Golang pipeline with spaces in the pipeline name, the Golang pipeline is created successfully.

## Steps to reproduce
1. Click on create new pipeline
2. Use the demo for git repo link `https://github.com/gaia-pipeline/python-example`
3. For the name of the pipeli

[2019-10-06 19:15] #215 closed

[2019-10-06 19:46] Skarlso opened #218 "Gaia hangs indefinitely if trying to launch it on a controlled port"

[2019-10-07 14:50] Shivakishore14 opened #219 "Python pipeline creation fails when pipeline name has non-ascii character"
Steps to reproduce

1. Create new pipeline
2. For Repo, use the example repo `https://github.com/gaia-pipeline/python-example`
3. For Pipeline name give `test文`

**Output**:
Pipeline creation fails

**Expected Output**:
Pipeline should be created successfully

The source of the issue can be traced to creation of the virtual environment. This is a known issue with virtualenv
https://github.com/pypa

[2019-10-07 15:01] Shivakishore14 commented on #219
I see that we are using the pipeline name when creating the virtual environment.

example:
for pipeline: test$python
the virtual environment cmd is

`$/usr/local/bin/virtualenv /Users/coda/github/gaia/tmp/tmp/python/test$python`

One of the quick fix that I can think of is to base64 encode the pipeline name and use that in the virtual environment cmd.
the above cmd after the fix would be

`$/usr/l

[2019-10-07 17:35] #212 closed

[2019-10-08 07:25] michelvocks commented on #219
Hi @Shivakishore14,

thanks for pointing that out!
I think the better approach would be to prevent the creation of pipelines with random characters in their names since this could also break for other pipeline types (e.g. Java, ruby, nodejs etc.).
We already have a pipeline name validation handler which we could use to force that behavior.

@Skarlso What do you think? e.g. restrict pipeline names

[2019-10-08 07:28] #170 closed

[2019-10-17 09:44] #218 closed

[2019-10-28 10:06] #210 closed

[2019-11-12 00:58] prologic opened #225 "Job outputs?"
Going through the documentation, examples and the Go SDK (_I assume the other language SDKs are the same_); It doesn't seem possible to have a job compute and return some output which you may use as input into the next job(s) in your pipeline.

The only thing a Job can do is take some input `Arguments` and return an error. I assume the design calls for inputs to be known up front.

What if I need

[2019-11-12 08:21] michelvocks commented on #225
Hi @prologic!

You are absolutely right. This is currently not possible cause we didn't implement this feature yet.
It has been on the list for a long time but other features were prioritized over this.
I will label this as a feature request where we can track the progress of it.

Cheers,
Michel

[2019-11-13 01:12] prologic commented on #225
Awesome! Thanks for the confirmation. I wouldn't be able to replace all this gnarly Jenkins spaghetti I have here with a Gaia workflow and appropriate implementation of "Jobs" without this so looking forward to having this feature implemented!

I _think_ the challenge here would be to define a "protocol" / "format" that Jobs can "return ouytput" in a sane and consistent way. My recommendation base

[2019-12-02 07:04] michelvocks opened #226 "Stop sending pipeline local path to clients"
Currently, we send all pipeline information to the clients (e.g. UI users). That also includes the local binary path of the pipeline from the Gaia server. This is confidental information and shouldn't be transferred to the clients.

[2019-12-02 07:07] michelvocks opened #227 "Remove Trigger Token from overview"
Since #170 has been added, we don't need the trigger token anymore on the overview page which takes a lot of space and usually is not very informative.

[2019-12-10 07:19] leafonsword opened #230 "Does gaia support Python3？"
From doc https://docs.gaia-pipeline.io/develop-pipelines/python/ , gaia supports Python2.7, does gaia support python3?

[2019-12-10 07:20] Skarlso commented on #230
hi! Thanks for opening an issue. A PR is already present in the Python SDK to support 3.
https://github.com/gaia-pipeline/pythonsdk/pull/1

[2019-12-10 07:23] leafonsword commented on #230
@Skarlso Thanks for replying, hope Python3 supporting PR could be merged soon~

[2019-12-10 07:23] #230 closed

[2019-12-10 07:27] Skarlso commented on #230
Ping @michelvocks with that. :))))

[2019-12-10 07:50] prologic commented on #230
Technically you just need to implement the gRPC protocol; So even without  the "official language X" PR merged you could just write against the protocol :) Just say'n!

[2019-12-10 07:51] prologic opened #231 "Release Schedule?"
We should probably release a new version? Last release was ~Feb; It's not just good practise; it helps keep interested parties following the project/progress via "Watch Releases" :)

[2019-12-10 09:07] michelvocks commented on #231
I agree!
I'm currently waiting for a review to get #201 merged. I think then we are ready for a new release.

[2019-12-10 09:12] #227 closed

[2019-12-10 09:13] #226 closed

[2019-12-10 10:45] prologic commented on #231
Sounds good :D

[2019-12-10 10:45] prologic commented on #231
Any thoughts on what a realistic release schedule you can maintain?

[2019-12-10 13:12] michelvocks commented on #231
No. This is currently a side-project and even tho we love to work on Gaia we also have other stuff going on (real job, familiy, kids etc.). I would like to release quarterly but that is simply not realistic because of the reasons mentioned above.

Our current approach is to release when we think it is worth to release a new version.

[2019-12-10 21:12] prologic commented on #231
I totally understand! I have often been in the same situation (still am!) with the burden of release management and feeling like it takes too much time to do too often. I recently came across an excellent tool however that helps with a lot of this; [goreleaser](https://goreleaser.com/) it might help you too :)

[2019-12-11 08:57] michelvocks commented on #231
We are already using it. Goreleaser is awesome!

[2019-12-27 03:46] hzgcoding opened #232 "Cannot access git repo: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
![image](https://user-images.githubusercontent.com/8913042/71500072-58530100-289e-11ea-9e6d-242cdc6a2f37.png)

![image](https://user-images.githubusercontent.com/8913042/71500091-6f91ee80-289e-11ea-840a-c53ef13f286a.png)

Cannot access git repo: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain

please help me !!!

[2019-12-31 10:51] Skarlso commented on #232
Hi, this seems to be related to https://github.com/gaia-pipeline/gaia/issues/182 ?

[2020-01-02 04:30] hzgcoding commented on #232
this is different thing!

my project   is used  in gitlab

[2020-01-02 10:08] michelvocks commented on #232
Hi @hzgcoding!

This is not related to the git provider you use but more related to the format of your private-public key format. Please see the following message for more information: https://github.com/gaia-pipeline/gaia/issues/182#issuecomment-502120516

Could you provide more information about the way you generated your private-public key pair? What ssh-keygen version do you use? Have you trie

[2020-01-02 10:14] hzgcoding commented on #232
use 'ssh-keygen'  cmd
~$ ssh -V
OpenSSH_7.4p1 Debian-10+deb9u4, OpenSSL 1.0.2l  25 May 2017

And I try it [https://github.com/gaia-pipeline/gaia/issues/182#issuecomment-502120516](182) but it not work , the thing is still here

Retry above step but not work...

[2020-01-02 10:14] #232 closed

[2020-01-25 20:26] prologic commented on #225
Any updates on this?

[2020-01-28 06:06] Skarlso commented on #225
Hi @prologic. Unfortunately both of us have been very busy with life lately and some other commitments. If I recall correctly, @michelvocks first would like the docker executor in because that's a massive change. That will go in sometime this week and then we can start working on something else. :)

Also, I'm hoping my schedule will get better in a few weeks or so, then I can start concentrating o

[2020-01-28 06:12] Skarlso commented on #219
Wth github. I absolutely did not get notified about this ping. 😭

Yes, I agree with the restriction. Allowing all kinds of characters is just asking for trouble. 😊

[2020-01-28 09:36] prologic commented on #225
Are there _future_ plans for a Kubernetes/Nomad executor too at some point?

[2020-01-28 09:37] prologic commented on #225
Sounds good. Let me know if I can help in any way, docs, design testing, etc.

[2020-01-28 09:45] Skarlso commented on #225
Not that I know of.

Could you elaborate on what do you mean by Kubernetes executor? Do you mean a CRD?

[2020-01-28 12:16] prologic commented on #225
Maybe it would help if you described what this docker executor is? Or point me to a PR or Issue?

[2020-02-10 22:06] danielBingham commented on #187
So, I'll preface this with the disclaimer that I haven't read the whole thread, but I'm a Devops Lead at a startup that currently uses Jenkins, and I've been keeping my eye on Gaia for a while as a potential future replacement for Jenkins.

We have many, many pain points with Jenkins, but one of the biggest ones is managing the configuration of Jenkins itself.  We end up having to backup all of it

[2020-02-11 07:16] Skarlso commented on #187
The final say on Michel. I'm all for doing it. 🙂

[2020-02-14 12:14] Skarlso commented on #92
Doonnee by https://github.com/gaia-pipeline/gaia/pull/201 🎉

[2020-02-14 12:14] #92 closed

[2020-02-14 12:16] Skarlso commented on #225
Sorry @prologic I missed your reply! Here is the PR: https://github.com/gaia-pipeline/gaia/pull/201 :) It has been merged. So we can now move on with other things. My other project is also done-ish so I'm going to focus on Gaia some more. ;)

[2020-02-14 13:26] Skarlso opened #233 "Can't abort schedueld, non-scheduled pipeline runs"
Pipelines that are not in running state, can't be scheduled. But this also means that pent up runs, which are waiting, but we would like to get rid off, are also not abortable.

[2020-02-15 00:44] prologic commented on #225
That's awesome! Great job!

[2020-02-19 06:06] Skarlso commented on #233
Fixed by #234

[2020-02-19 12:34] Skarlso commented on #157
Done by https://github.com/gaia-pipeline/gaia/pull/235

[2020-03-04 05:48] Skarlso commented on #225
Alright. Let's take a look at this. :)

[2020-03-05 16:24] Skarlso commented on #225
So the way I see it, it's possible that a job can have a return value, but that value would have to be very generic as jobs could have multiple types of outputs...

I propose a list of key value pairs. Something like, `"DNS": "whatever.com"`. And your job which is waiting for something knows what it wants so it can look for a key like "DNS".

@prologic @michelvocks What do you think?

[2020-03-05 21:17] Skarlso commented on #225
Something like...

[code]

[2020-03-06 08:21] prologic commented on #225
This sounds perfect!

[2020-03-06 08:22] prologic commented on #225
Yup just a simple KV map would work very nicely here. I would not support anything beyond this.

[2020-03-07 22:32] Skarlso commented on #225
@prologic Almost done. :) Now need to test this thing and write some unit tests and have a review from Michel. :)

[2020-03-09 00:23] prologic commented on #225
I'm more than happy to spin up a new Gaia instance to test your PR too :) if that helps!

[2020-03-09 07:15] Skarlso commented on #225
Cool. :) You'll have to build it though because I had to edit the import paths and such. If you're okay with that, that would be a lot helpful. :)

[2020-03-09 11:21] prologic commented on #225
Sure no problems! Just make sure your PR has a "Test Plan" I can follow and I'll find some time to test your stuff this week :)

[2020-03-09 15:23] Skarlso commented on #225
Absolutely. I'll update the PR with detailed instructions. :)

[2020-03-15 18:52] Skarlso commented on #173
On this

[2020-03-20 10:30] Skarlso opened #240 "Satori uuid has been deprecated and we shouldn't use it"
Maintained: https://github.com/gofrs/uuid
Issue: https://github.com/satori/go.uuid/issues/84

[2020-04-24 07:26] #233 closed

[2020-04-24 08:01] #219 closed

[2020-04-24 08:02] #240 closed

[2020-04-24 09:58] #157 closed

[2020-04-26 18:28] Skarlso commented on #214
Now is the time to do this. Heh.

[2020-04-27 07:06] Skarlso commented on #187
@danielBingham So as a compromise... What about Terraform? To build a terraform plugin for the api part which can replace the frontend effectively?

[2020-04-27 07:08] Skarlso commented on #111
I'll add this. Plus the UI for it.

[2020-04-27 18:49] Skarlso opened #242 "There is something wrong with the cron scheduler"
Even on master, I set a schedule like `*/1 * * * *` and it kept spawning schedules of a pipeline continuously.

[2020-04-27 18:50] Skarlso opened #243 "Deleting a scheduled pipeline blow up Gaia"
[code]

[2020-04-27 18:51] Skarlso commented on #243
This is master, not my scheduler change..

[2020-04-27 18:51] Skarlso commented on #243
[code]

[2020-04-27 18:55] Skarlso commented on #243
Okay, this is with the new code:

[code]

It seems the crontab parser is wrong? It looks like `*/5 * * * *` is 5 seconds for it instead of 5 minutes. `*/5 * * * *` according to crontab is every 5 minutes... So either the parser is incorrect or we pass in something incorrectly.

[2020-04-27 19:43] Skarlso commented on #243
Fixed in my other PR.

[2020-04-27 19:43] Skarlso commented on #242
Fixed

[2020-04-27 19:52] #243 closed

[2020-04-27 19:53] #242 closed

[2020-04-28 07:12] Skarlso commented on #21
@fubarhouse Alright, let's do this!

[2020-05-24 20:45] speza opened #247 "Improve the REST API consistentcy"
We could do with improving the REST API consistentcy.

While working on #246 I noticed that the REST API is pretty inconsistent, whether its not using PUT correctly with a named param for updates, or just the general route names in general.

For example:
GET /api/v1/users (for list)
POST /api/v1/user (for create) - should be POST /api/v1/user**s**
or
PUT /api/v1/secrets/update should be PUT /api/v

[2020-05-25 16:17] X-Ryl669 opened #248 "Allow pipeline update"
First, I'd like to thank you for your much appreciated work.
I've successfully started by first **real** pipeline on Gaia.
I'm developping in C++, and using `latest` docker image.

Currently, while developping my pipeline, I first entered the repository for the pipeline in the `Create Pipeline` page, and it failed because of dumb C++ mistake. Since I can't test it easily, I had to commit a large n

[2020-05-25 16:20] X-Ryl669 opened #249 "Integration with Gitea"
Thanks for your code. It's very good.

I was wondering how can I integrate it with Gitea's webhook ?
(Said differently, how can I trigger a pipeline from outside the admin interface via a HTTP call ?)

[2020-05-25 19:33] Skarlso commented on #248
Hi!

First of all, thank you for using Gaia! Much appreciated. :)

Second, you can turn on `polling` in the settings menu. This will periodically make pulls and rebuild pipelines automatically.

Now, there is no reason to not add a force pull or something like that to a pipeline, so I think that's still a good idea, I'm just saying what you can do right now.

Another option. albeit I realise that

[2020-05-25 20:09] Skarlso commented on #248
Oh I forgot to add that you can also setup a webhook for git, which will immediately rebuild your pipeline when there is a commit.

[2020-05-26 06:23] X-Ryl669 commented on #248
How do you do that ? I'm not using github here, but Gitea.

[2020-05-26 06:26] X-Ryl669 commented on #248
That's a very good idea indeed. I want to prevent all the useless "fix one line" commit until I bump on the next one. This would help a lot. Thanks!

[2020-05-26 07:40] Skarlso commented on #248
Oh yeah, we don't support Gitea hooks yet. Sorry mate. :/ But it shouldn't be too hard to add one. :)

[2020-05-26 07:50] Skarlso commented on #249
You can do that with the pipeline remote trigger action.

If you access your pipeline, you'll see a trigger token like this:

<img width="1628" alt="Screenshot 2020-05-26 at 9 44 13" src="https://user-images.githubusercontent.com/182850/82873877-7730ee80-9f35-11ea-8cd3-8e7de3ff1ca9.png">

Use that to trigger a pipeline by calling the rest endpoint without the need for an authenticated client like

[2020-05-26 08:00] Skarlso commented on #249
Uh, that was actually not working correctly. :/ Bummer.

Here is the fix: https://github.com/gaia-pipeline/gaia/pull/251

But I'm afraid that it will not be released any time soon.... so you'll have to build your own gaia to make it work....

[2020-05-28 19:10] Skarlso opened #252 "Simplify the non restricted endpoint matches"
@speza has already something here: https://github.com/gaia-pipeline/gaia/compare/master...speza:echo-groups

[2020-06-03 08:12] #252 closed

[2020-06-24 19:05] Skarlso opened #261 "Github webhook seems to have problems"
[code]

It looks like it can't get the repository out of the payload.

[2020-06-24 19:06] Skarlso commented on #231
@prologic Release has been dooone! :))) hopefully we'll have a much frequent release process now. :)

Please reopen if necessary.

[2020-06-24 19:06] #231 closed

[2020-06-25 11:01] arthurlogilab opened #263 "Failing to launch gaia as a simple deployment in rancher (kubernetes)"
While trying to run the docker image manually in our rancher instance (which connects to our kubernetes instance) I get the following error :

[code]

When I remove the port mapping, the image runs fine but I can't contact it. Is there some code in gaia that looks at the way the port mapping is defined and parses that and fails here ? If you are familiar with rancher I've tried a number of variati

[2020-06-25 11:03] Skarlso commented on #263
Hi!

yes, I also experience this. This is some weird thing going on in Kubernetes... The service needs to exists AFTER the server has started. Somehow they collide. I didn't have the time to investigate this in greater detail yet... But basically I have to kill the service and then update gaia and initiate the service again. Now, this results in a few seconds of downtime of course, which is not id

[2020-06-26 06:57] Skarlso commented on #263
So I think I found the problem. It has something to do with colliding environment names with the kubernetes generated environment names. It collides with the service defined port names and parses the wrong value.

I'll have a fix soonish. :)

[2020-06-26 07:23] Skarlso commented on #263
@arthurlogilab The fix is to not call the service OR the deployment `gaia` because that's the prefix for the gaia environment properties. So when GAIA_PORT is created inside the POD because of Kubernetes, it takes over what Gaia set. :)

In the long run I'll rename what Gaia is using as a prefix for environment properties. But for now, please use a different name. :)

[2020-06-26 08:01] arthurlogilab commented on #263
@Skarlso glad you found the origin of the bug. Thanks for looking into it ! Can you think of a workaround that could be applied (for example forcing a variable to a given value to override the k8 generated value) ?

[2020-06-26 09:04] Skarlso commented on #263
@arthurlogilab the workaround is not to call your service or the deployment in kubernetes `gaia`. :)

For example:
[code]

This is good.

This is bad:
[code]

[2020-06-26 23:29] issmirnov opened #264 "Question: RSS Feed polling as trigger?"
Hi all,

I'm evaluating whether gaia solves the following use case:
1. github release emitted on https://github.com/go-gitea/gitea/releases
2. This triggers a custom job that runs an ansible playbook to deploy this release everwhere.

I also already have an IFTTT recipe that emails me new releases, so I could have it hit a web hook as well.

What are the current options in GAIA for monitoring exte

[2020-06-27 07:38] Skarlso commented on #264
Hi @issmirnov! Thanks for evaluating Gaia!

Currently you can trigger a pipeline using a trigger token which doesn't have an auth requirement. Plus you can have webhooks on repos but only on push events. So right now there are no custom events that gaia can listen on I'm afraid. That said, do you only need other event types from github?

[2020-06-27 08:30] Skarlso commented on #263
in the long rn, I'm going to change the environment variable prefix to something like GAIA_PIPELINE to not to collide to anything.

[2020-06-28 14:32] Skarlso commented on #261
I'll test this after a release again.

[2020-06-28 18:29] speza opened #266 "Support SSO using OAuth2"
Would be nice to support SSO via OAuth2.

We could use Google, Microsoft, GitHub, etc, relatively easy.

[2020-06-28 18:31] speza commented on #266
Might look at this after RBAC :)

[2020-06-28 20:28] Skarlso commented on #261
https://github.com/gaia-pipeline/gaia/pull/265 fixed

[2020-06-28 20:28] #261 closed

[2020-06-28 20:28] Skarlso commented on #248
@X-Ryl669 hi.

This update in the next release will contain a pull button which updates the pipeline's code.

https://github.com/gaia-pipeline/gaia/pull/265

[2020-06-29 04:09] #211 closed

[2020-06-29 06:26] Skarlso opened #267 "Webhooks are global and share a secret for all pipelines"
The secret should be prefixed with the pipeline name because this means that all webhooks use the same secret right now which is not ideal.

[2020-06-29 06:29] Skarlso commented on #267
Once this is done, document the thing.

[2020-06-29 06:31] Skarlso commented on #169
Done in https://github.com/gaia-pipeline/docs/pull/15

[2020-06-29 06:31] #169 closed

[2020-06-29 19:09] Skarlso commented on #248
Done, please reopen if still an issue.

[2020-06-29 19:09] #248 closed

[2020-06-30 10:22] arthurlogilab opened #268 "[featurerequest] gitlab or generic webhooks"
It's nice to see that github webhooks are available (I image that when you git push to your repo a new definition of your pipeline, it refreshes the pipeline in gaia).

It would be nice to have the same for gitlab/gitea and other types of forges. Maybe there is a documentation of a generic web hook ? Something similar to https://docs.gaia-pipeline.io/getting-started/remote-triggers-for-pipelines/

[2020-06-30 10:23] Skarlso commented on #268
Hi.

Yes, that would be cool. :) Sadly, all of those work in a slightly different way. :D So we need to handle all of them programatically.

It is on the backlist though to implement hooks for gitlab too and such.

Gergely.

[2020-06-30 10:24] arthurlogilab opened #269 "Support for mercurial repositories"
It would be great to be able to point to a mercurial repository as well as the existing git repository functionality.

https://www.mercurial-scm.org/

This would greatly ease the use of https://heptapod.net/ (which is a gitlab friendly fork with mercurial support) with gaia.

[2020-06-30 14:49] danielBingham commented on #187
@Skarlso If you can define the configuration of the Gaia instance completely in terraform, and spin it up from the repository, that would absolutely solve my use case.  We're working on migration to Terraform fully anyway, and I love the idea of just having a single configuration language to work in.

[2020-06-30 15:22] Skarlso commented on #187
I'll have a think about this. This would probably mean some kind of API key / secret generation which could be used to access Gaia. And a user could rotate said keys.

[2020-07-07 09:11] Skarlso commented on #269
Hi @arthurlogilab!

Thank you for the issue! It's definitely on the list to add more scms. :)

Right now though the focus is getting Gaia production ready. There are a couple of things that need to be done in order for that to happen. And once it's ready, I would say we can start investigating things like scms.

But on the list for sure of things to add. :)

[2020-07-07 09:17] arthurlogilab commented on #269
Glad to hear this. If we end up using gaia we might contribute or help shape the path to mercurial support.

[2020-07-08 06:00] Skarlso commented on #182
Hi @DHunte. Is this still a problem?

[2020-07-08 06:01] Skarlso commented on #263
I can't change the thing unfortunately, because that would a backwards incompatible change. :/

So we'll just have to use a different thing for service names. Is that possible for you @arthurlogilab?

[2020-07-08 06:58] Skarlso opened #272 "The providers really should return a concrete type"
This is an internal API so changing it is fine, but if this would be a package, returning an interface would make changing things difficult, because an API change would be a breaking change to clients.

Returning a concrete type allows for extensibility without the need to break existing things. Requiring interface should remain. This should be a big problematic change. Also, would be nice if the

[2020-07-08 15:12] arthurlogilab commented on #263
@Skarlso thanks, got it running by using a different deployment name

[2020-07-09 05:49] #272 closed

[2020-07-09 05:49] Skarlso opened #274 "Add handler test"
Now that the init handler is no longer part of the provider tests, the coverage for the router dropped.
That should be improved.

[2020-07-12 09:39] Skarlso opened #275 "Create an automated testing infrastructure for members"
Using drone.io or circleci create a deployment which updates the main testing ground automatically using a test tag.

[2020-07-16 20:21] Skarlso commented on #1
Command received. Running Test.

[2020-07-16 20:21] Skarlso commented on #1
Failed to checkout the PR

[2020-07-19 06:50] issmirnov commented on #264
Hey @Skarlso

Thanks for getting back to me! Apologies about late reply, email got burried.

For my use case, yes, I just want to be notified when there's a new Gitea release here on github. I'll keep looking for tools! Perhaps a self-hosted Zapier clone or something would work. Recs welcome, should you have some :)

[2020-07-19 06:50] #264 closed

[2020-07-19 06:57] Skarlso commented on #264
No problem!

For these things honestly, I just create my own bot and run it somewhere. :) It's pretty easy to listen on a github release event.

In fact, I'm just writing a bot for Gaia right now here [Gaia Bot](https://github.com/gaia-pipeline/gaia-bot) if you want some inspiration on how to do it. :)

Good luck!

[2020-07-25 12:08] Skarlso opened #278 "Seemingly webhook isn't sending along the hostname properly"
Event though hostname was set to a proper URL it still appears to send localhost.

[2020-07-25 12:09] Skarlso commented on #278
Great opportunity to test Gaia-bot to build an image and deploy to the testing environment.

[2020-07-28 05:05] Skarlso commented on #278
Never mind. It's because the options are `-` and not `--`. 🤦

[2020-07-28 05:05] #278 closed

[2020-07-29 19:24] Skarlso commented on #275
Done by https://github.com/gaia-pipeline/gaia-bot

[2020-07-29 19:24] #275 closed

[2020-08-04 11:20] DHunte commented on #182
Hi, sorry for the delay, this appears to be fixed now. Thanks!

[2020-08-04 12:09] Skarlso commented on #182
Wonderful! Thanks!

[2020-08-04 12:09] #182 closed

[2020-08-04 12:43] Skarlso commented on #249
This has been fixed and released.

[2020-08-04 12:43] #263 closed

[2020-08-04 12:47] #274 closed

[2020-08-04 18:43] X-Ryl669 commented on #249
Indeed, it's working with the trigger URL.

[2020-08-04 18:43] #249 closed

[2020-08-04 19:06] Skarlso commented on #249
Yay!

[2020-08-06 07:02] Skarlso opened #282 "Missing return err in server.go on err != nil"
There are several lines in server.go which don't return the error in case there was actually an error.

[2020-08-06 12:43] Skarlso opened #284 "Data race"
Got to look at this later on:

[code]

[2020-08-07 05:05] Skarlso opened #285 "The ui looks horrible on mobile"
Maybe a new version of Vue admin will fix that.

[2020-08-07 06:51] Skarlso opened #286 "The nodesdk's listen url is localhost"
This seems to cause a problem. It should be `0.0.0.0`.
The problem:

[code]

[2020-08-07 06:58] Skarlso commented on #286
Oh! The port is taken. Huh.

[2020-08-07 12:18] #286 closed

[2020-08-07 14:03] Skarlso commented on #267
done by https://github.com/gaia-pipeline/gaia/pull/283

[2020-08-07 14:03] #267 closed

[2020-08-12 11:58] Skarlso opened #288 "Get rid of global values"

[2020-08-12 15:48] Skarlso commented on #150
Swagger has been added. I'll update the gaia docs with a static rip off it. Otherwise, the docs are available under:
the deployed base url /swagger/index.html.

[2020-08-12 20:32] Skarlso commented on #150
Documentation and swagger has been added.

Better late then never, I guess @leberknecht :D

[2020-08-12 20:32] #150 closed

[2020-08-12 20:34] Skarlso opened #289 "Add a static version of the swagger docs"
To generate a dynamic HTML output of the swagger definition run:

[code]

Then that needs to be converted into something that hugo likes.

Also, note that Goswagger generates Swagger 2.0 specs not 3.0 which is the current at the time of writing this issue.
Install swagger-codegen@2 with brew.

[2020-09-27 22:31] anborg opened #291 "gaia compile"
I couldn't compile frontend. Where can I find steps to compile ?

At root

[code]

cd frontend
yarn install
yarn serve
[code]

[2020-09-28 09:03] Skarlso commented on #291
Hi @anborg

That looks like some kind of version thing... Frigging node. :) I'll take a look.

What are you trying to do? I usually run `npm run serve` or if you would like to create a production install then run `make compile_frontend` from the root which does this:

[code]

Meaning we usually don't use `yarn`.

[2020-11-26 19:12] lonnc opened #292 "gosdk pipelines with arguments fail to start"
Start gaia using docker:
`docker run -d -p 8080:8080 -v $PWD:/data gaiapipeline/gaia:latest`

Create pipeline using http://localhost:8080/#/pipeline/create with fields:
- Repo: https://github.com/gaia-pipeline/go-example
- Branch: refs/heads/parameters_example
- Name: test

Status Output:
[code]

1. View pipeline at http://localhost:8080/#/pipeline/detail?pipelineid=1
2. Hit "Start Pipeline" butto

[2020-11-26 19:18] Skarlso commented on #292
Hi. Thanks for opening an issue. I'll look into it.

[2020-11-27 15:36] Skarlso commented on #292
Oh I see. Yes, the problem is that that's not the only thing needed for the parameter thing to work. You also needs a specific SDK and a different version of Gaia. All in these PRs:

https://github.com/gaia-pipeline/protobuf/pull/2
https://github.com/gaia-pipeline/gosdk/pull/5
https://github.com/gaia-pipeline/gaia/pull/238

And of course this only works for Go based pipelines...

[2020-11-27 15:55] Skarlso commented on #292
The parameters branch is most likely outdated by now since I updated a lot of things. I'll do a push into that so you can try again. :)

[2020-11-27 16:03] Skarlso commented on #292
@lonnc Please try https://github.com/gaia-pipeline/go-example/tree/parameter_example_v2

[2020-11-27 17:19] lonnc commented on #292
Unfortunately still getting the same error when trying to start the pipeline:
- Repo: https://github.com/gaia-pipeline/go-example
- Branch: refs/heads/parameter_example_v2

[code]

Available logs are below:
[code]

[2020-11-27 19:07] Skarlso commented on #292
Ah, I see. I'll try it out later tonight

On Fri, 27 Nov 2020, 18:19 lonnc, <notifications@github.com> wrote:

[2020-11-28 13:51] Skarlso commented on #292
Uh, I found the problem. When the docker runner was introduced it wasn't tested with parameterised builds and the docker parameter code is conflicting with the regular parameter things. :/ I'll attempt a nice fix. :)

[2020-11-28 17:39] Skarlso commented on #292
@lonnc I found out what was wrong.
I still have to test the fix throughly first, but generally I think I fixed it in this PR: #294

[2020-11-29 09:21] #292 closed

[2020-12-09 08:25] Skarlso commented on #291
Hi @anborg
Is still an issue for you?

Cheers

[2020-12-13 06:02] anborg commented on #291
Hi @Skarlso,

Sorry I almost forgot what I did...

**The frontend is compiled and started**

[code]

**The backend seem to have problem starting.**

[code]

Perhaps I'm starting from wrong directory?
Would be great if you could provide list of commands to run from root gaia directory

**These frontend errors are likely due to backend errors**

[code]

[2020-12-13 09:35] Skarlso commented on #291
Indeed. You need to build from root. There is a Makefile so if you have make then simply run `make` to run in dev mode. Otherwise there is another command to run in prod I have to look up. I'm on the phone.

[2020-12-14 17:14] Skarlso commented on #291
So, if you want a prod release, you run the following commands:

[code]

This will create the single binary which will have all the components in it, and that you can run now from anywhere you like.

[2020-12-14 17:23] Skarlso commented on #291
Oh and you need [rice](https://github.com/GeertJohan/go.rice) installed somewhere on your PATH.

[2020-12-27 19:08] anborg commented on #291
This only creates a linux binary. Does it crate exe in windows, and mac executable?

[code]

[2020-12-27 19:26] Skarlso commented on #291
Eek, sorry, you're right. That only creates a linux binary. We definitely should use gox to build for multiple platforms. :/

Luckily, now that you have everything else built, you just need to run this command:

[code]

which replaces the `compile_backend` part of the release process.

[2020-12-28 02:28] anborg commented on #291
Since GO is multi platform, perhaps a separate Makefile config, that creates gaia.exe or gaia(mac),   for those who do not want to use docker-overhead. Automatically detecting the OS  - I believe GO supports such bulding.

[2020-12-28 06:57] Skarlso commented on #291
Yep. It's called gox. :-)

On Mon, 28 Dec 2020, 03:29 anborg, <notifications@github.com> wrote:

[2020-12-28 07:44] Skarlso commented on #291
I'll add [gox](https://github.com/mitchellh/gox) to the package which should build all supported binary types.

[2020-12-28 08:11] Skarlso commented on #291
@anborg hi. If you use the attached pr I added gox to the mix. you have to install it, and after that if you run
`make binaries` it will create all the binaries. :)

So the steps would be:

[code]

This should now include all the things in all the binaries.

[2020-12-29 15:56] anborg commented on #291
@Skarlso , thanks..

Is there a way to get it working on win?

![image](https://user-images.githubusercontent.com/56970398/103296636-75944100-49c4-11eb-98bd-783985e3d666.png)

[code]

[2020-12-29 16:10] Skarlso commented on #291
What are you trying to do? Gaia provides a rest api. Not a GRPC one. The GRPC api is the plugin's api. That's not intended to be used directly. If you are trying to use it without the frontend, I suggest to take a look at the swagger docs, which you can view if you started up the server by navigating to : http://localhost:8080/api/v1/swagger/index.html
You can then see what you can do.

Looking at

[2020-12-29 16:47] anborg commented on #291
Great thanks...

**Backend:**
[code]
http://localhost:8080/api/v1/swagger/index.html

**Frontend:**

[code]
http://localhost:8081/#/overview

I can live happily without docker, in windows (though I wish to use linux).
Will try different options
- saving state of server in a folder
- changing port for backendapi & frontend
- using Vault for storing pwd, db setting etc and
- check if Consul can be u

[2020-12-29 16:59] anborg commented on #291
How do I create a single binary that serves both api, and javascript-frontend, i.e no need to run two different commands?

[Yes docker combines both BE&FE.  But, if I could just create a simple gaia-app.go which serves a fixed verson js-frontend, and the swagger, I can just drag drop that exe/binary anywhere and try different things ... ]

[2020-12-29 17:24] Skarlso commented on #291
That's the process I outlined above. Build that frontend compile statics
then build the binary. That will serve all after that. It's a single binary
and the frontend is compiled into it. But then it needs a few things like
what's the serving path and such.

Hostname needs to be defined then 8080 should serve the frontend.

On Tue, 29 Dec 2020, 17:59 anborg, <notifications@github.com> wrote:

[2020-12-29 17:48] Skarlso commented on #291
You don't even have to provide that. Just run the compiled binary of your chose and navigate to http://localhost:8080.

This will now contain the backend AND the frontend.

The steps are, without using `make release`:

[code]

[2020-12-30 17:26] anborg commented on #291
Thank you

It took a bit of time to have 4 binaries. Additional time may not matter for my needs..
![image](https://user-images.githubusercontent.com/56970398/103370176-215b9080-4a9a-11eb-8012-9f97d731f10c.png)

[2020-12-30 17:26] #291 closed

[2020-12-30 17:37] Skarlso commented on #291
Fair point. I added an override. You can now run this:

`make BINARIES=windows/amd64 binaries`

This will only build windows/amd64. You can define whatever you want in there, with a coma separated list. Look for an example in the Makefile.

[2020-12-30 17:38] Skarlso commented on #291
Related pull: https://github.com/gaia-pipeline/gaia/pull/296

[2021-03-04 12:10] martenlindblad opened #297 "Add FreeBSD binaries"
As simple as add `freebsd/amd64` in `BINARIES` list.

[2021-04-06 12:12] #297 closed

[2021-09-13 21:51] RamuRChenchaiah opened #300 "Unable to connect to GHE"
Hi There
1. We have brought up Gaia Pipeline within our enterprise network.
2. Trying to create a piepline: Added ssh key & https url for our GHE. We get "Cannot access git repo: authorization failed"
3. We tried using ssh url, got "Cannot access git repo: git url should not include username and/or password"

Would you please help on this connectivity to GHE?

Thank you

[2021-09-14 04:55] Skarlso commented on #300
Hi. Thanks for your issue, I'll take a look later on. :)

[2021-09-14 05:06] Skarlso commented on #300
I assume that gaia has Internet access and the repo is given with, ssh:// url?

[2021-09-14 05:14] Skarlso commented on #300
I mean git@github. Also note that username and password are no longer supported by Github. So we might as well remove that feature.

[2021-09-14 20:50] Skarlso opened #301 "Cloning fails if the host file isn't working and it tries to clone again"
This part of the code:

[code]

Causes a second clone and that second clone fails because the storer is not empty ( a git SDK term where they initialise the store with the local folder and doing that again is apparently an error ). The error is:

[code]

[2021-09-14 20:56] Skarlso commented on #301
A workaround is to add github to the known_host file for now:

[code]

[2021-09-15 04:50] #301 closed

[2021-09-17 15:42] RamuRChenchaiah commented on #300
Refer: https://github.com/gaia-pipeline/gaia/issues/149

[2021-09-17 15:42] #300 closed

[2021-09-20 04:30] RamuRChenchaiah opened #305 "Consuming custom function from custom modules from the pipeline (__init__.py)"
Dear Team

We placed custom code in different modules & tried to consume from __init__.py

To our surprise, the import fails with error 'No such module src'.
This is a refactored working code from development without inclusion of gaia-pipeline. when invoked from the pipeline code, it fails.

Further debugging shows that the custom modules are not copied into /tmp/data/* folder location at all, the

[2021-09-30 23:45] #305 closed

[2021-10-01 06:23] Skarlso commented on #305
Hi @RamuRChenchaiah!

Did you find out what the problem was?

[2021-10-13 05:43] Jarnpher553 opened #306 "argument with boolean value"
[code]
if bind with []*gaia.Argument can not pass argument with boolean value, the Argument value is type of string

[2021-11-11 03:05] RamuRChenchaiah opened #307 "Scheduar is not picking up the execution"
Hi There

We have setup our pipeline with schedule 0 0 6 * * * (following the provided link).
So far it is more than 8 hours, but the trigger does not happen.
We observed no logs on the same either.

Any help/pointers please?

Thank you

[2021-11-11 03:06] RamuRChenchaiah commented on #307
<img width="452" alt="image" src="https://user-images.githubusercontent.com/14149055/141230205-7136aa12-d743-4d68-a712-a70890123588.png">

[2021-11-11 03:07] RamuRChenchaiah commented on #307
<img width="582" alt="image" src="https://user-images.githubusercontent.com/14149055/141230272-b38993a7-b985-44fd-8771-cb6edcbb67e4.png">

[2021-11-11 04:02] RamuRChenchaiah opened #308 "White Labeling"
Hi There

Would you please advice if there is a way to perform white label changes?
I checked the docs, I am afraid I got some.

Thanks

[2021-11-11 05:52] Skarlso commented on #308
Hi @RamuRChenchaiah. Would you please explain what you mean by white labels?

[2021-11-11 05:54] Skarlso commented on #307
Interesting, I think there is a setting where you have to enable crons if I recall correctly. 🤔 I'll take a look.

[2021-11-11 06:00] Skarlso commented on #307
There is no setting, also I remember that the library we use is using an incorrect syntax for the crons. Try removing a zero and see if that does anything. :)

[2021-11-11 12:00] RamuRChenchaiah commented on #308
Hi @Skarlso
Please  note that I am referring to customizing the logo, Site Title, Favicon etc.,
Not looking much on the UI changes but very minimal.

Thank you

[2021-11-11 12:01] RamuRChenchaiah commented on #307
@Skarlso
Sure, Thanks. Let me check with that.

[2021-11-11 12:08] Skarlso commented on #308
Oh I see. :D Yeah I don't think we have that kind of thing. :D

[2021-11-15 06:11] RamuRChenchaiah commented on #307
Hi @Skarlso

unfortunately, this did not work.
Any help please.

Thanks

[2021-11-15 06:12] RamuRChenchaiah commented on #308
Thanks for the confirmation.
Please let us know if this is in your roadmap.

[2021-11-15 10:17] Skarlso commented on #307
Huh, odd. I'll check it then I'll get back to you shortly.

[2021-11-15 11:36] Skarlso commented on #307
So I created a new pipeline using `1 * * * * *` and it does run every 1 minute:

<img width="1749" alt="Screenshot 2021-11-15 at 12 36 02" src="https://user-images.githubusercontent.com/182850/141775487-3f9554ce-104b-4dc3-a79d-57a7462d7707.png">

[2021-11-15 11:37] Skarlso commented on #307
<img width="1776" alt="Screenshot 2021-11-15 at 12 37 16" src="https://user-images.githubusercontent.com/182850/141775604-d2a499f5-de6d-4920-a47f-95affd617b40.png">

Keeps on running nicely.

[2022-01-10 12:55] RamuRChenchaiah opened #309 "Support for Golang version 1.17"
Hi There

To our understanding the supported GoLang version is 1.14
Is there any plan for 1.17 support ?
Please advice

Thank you

[2022-01-10 12:57] Skarlso commented on #309
Hi!

Technically, the support is ` image: circleci/golang:1.16` 1.16. The go mod file could be updated though, for sure. :)

[2022-01-10 12:57] RamuRChenchaiah commented on #309
The reason for the request is:
We have vulnerable packages that needs upgrade,which require v1.17

When we try to use the upgraded code, the pipeline fails to complete the setup.

[2022-01-10 12:58] Skarlso commented on #309
Ah, I see. I think there would be no problem in updating to 1.17 maybe. 🤔

[2022-01-10 13:01] RamuRChenchaiah commented on #309
Thank you so much, @Skarlso for the quicker response.
This means, we will have a custom image with 1.16/1.17 & use this further?

Hope this does not cause any issues in runtime for the pipeline.

[2022-01-10 13:04] Skarlso commented on #309
Well, it's not that easy, but I'll try to update the images later on.

[2022-01-10 13:07] RamuRChenchaiah commented on #309
Thank you, @Skarlso

[2022-01-10 13:22] RamuRChenchaiah commented on #307
Thanks, @Skarlso
The 1min, 1hourly settings work.

Where we had problem is:
After a while(not sure on the timeline), we see the pipeline moves to 'scheduled' state, and not moving to 'running' and the 'success' state.

[2022-01-13 08:42] Skarlso commented on #307
Sadly, I have no idea. :( That scheduler is some old code, and I don't have the bandwidth to fully investigate what's going on there. I'll do my best effort to rummage through that and try to find out if there is something wrong.

[2022-01-13 09:00] Skarlso commented on #309
Going to do a release soon. After that, things hopefully, should be okay.

[2022-01-13 11:27] Skarlso commented on #309
Release is done. Feel free to use the new images and version 0.2.9. :)

If any issues arise, please feel free to re-open this issue.

[2022-01-13 11:27] #309 closed

[2022-02-10 01:44] #308 closed

[2022-02-10 01:45] #307 closed

[2022-02-11 05:26] RamuRChenchaiah opened #314 "The loading time for all peiplines in dashboard page is high"
Hi There
A quick context:
1. we have around 9 pipelines. The dashboard page or the settings page takes around 30secs to load the details. Same behaviour when we click on a pipeline.
2. we have upgraded the vm to 4vCPU/8GB RAM from 2vCPU/4GB RAM, but the response is same.

Any thoughts on how to solve this please?

Thank  you.

[2022-02-12 18:01] Skarlso commented on #314
I have 11 pipelines, they load instantly.

Do you have any more data on the pipelines? How many jobs, settings, etc?

[2022-02-14 13:48] RamuRChenchaiah commented on #314
Thank you @Skarlso

Please find below details:
We have at an average 10 jobs per pipeline.
I have also verified that the ulimit is set to unlimited for all users.

[2022-02-15 09:21] Skarlso commented on #314
I mean, do they have some special attributes? Like, there are a gazillion steps in them or many settings perhaps?

[2022-02-16 17:09] RamuRChenchaiah commented on #314
Nope,not that many steps :)
These jobs have less data to handle too.

[2022-02-16 17:29] Skarlso commented on #314
Super weird. I'll try to recreate some more. What browser are you using? I'm using chrome.

[2022-02-17 01:36] RamuRChenchaiah commented on #314
Please note that we use Firefox 97.0 (64-bit) MacOS Monterey 12.1
Thanks

[2022-02-20 08:03] Skarlso commented on #314
@RamuRChenchaiah So I tested this on various pipelines and with firefox and chrome and my deployment is loading fine.

Can you please check here:  https://gaia.cronohub.org user `test` password `password123`. And see how fast it loads?

[2022-02-22 08:31] Skarlso commented on #314
Please ping me when you can check it. I disabled the user in the meantime. :)

[2022-03-28 01:29] #314 closed

[2022-07-15 10:07] kmephistoh opened #325 "Python example failed"
**install using docke**r:  docker run -d -p 8080:8080 -v $PWD:/data gaiapipeline/gaia:latest
**OS**: Ubuntu 22.04 LTS
use the python example failed

[code]

[2022-08-24 10:03] Vishwa1705 opened #328 "Issue running robot code"
Hi there,

While running robot code in local, chromedriver runs all good, but in pipeline it's complaining that local connections are only allowed.

Wondering what might be the issue.
If you have any idea, pls share.

Thanks.

[2022-08-24 10:10] Skarlso commented on #328
Hi.

What robot code are you referring to? 🤔

[2022-08-24 10:15] Vishwa1705 commented on #328
The program is actually written using robot framework ( python ).

It is supposed to open chrome and do some automated tasks when triggered.

In local, it doesn't throw any error. But when i create pipeline and try to run it, chrome web driver says "only local connections are allowed"

Also the chrome web driver occupying the port (9515) is refusing to terminate.

Sorry for my bad grammer, I'm act

[2022-08-24 10:22] Skarlso commented on #328
Np. Are you using a headless browser? The pipeline runs in a container. Therefor, it doesn't really have access to a browser or some such.

[2022-08-24 10:29] Vishwa1705 commented on #328
Yes, It's using headless mode.

We also have installed chrome and chromedriver in the container.

It is going to use the chrome driver and launch chrome in headless mode to execute those automated tasks.

But chromedriver is complaining that only local ports are allowed instead of remote.

Thanks.

[2022-08-24 10:40] Skarlso commented on #328
So, I worked with chromedriver AGES ago, but I remember that that particular error message is not an exact error message. It's just a warning if I recall, and maybe the actual error is deeper in the logs?

But also, it might be actually working? Or does it fail immediately?

[2022-08-24 11:10] Vishwa1705 commented on #328
Apart from the warning, the reason why chromedriver is failing to launch is because pip is occupying the port (9515) on which driver is supposed to run.

Thanks.

[2022-08-24 11:12] Skarlso commented on #328
Nice, so.... When you are launching the driver, set it to look for a different port.

[2022-08-24 11:14] Vishwa1705 commented on #328
Yes, trying that out. Will update shortly.

Thanks for your quick response.

Have a great day.

[2022-08-24 11:29] Skarlso commented on #328
Nice, good luck! :)

[2022-09-01 09:47] RamuRChenchaiah opened #329 "Pipelines go into 'Scheduled' state after starting existing docker or bringing up a new one"
Hi Team

We had a docker running. for some reasons, it shutdown.
We started a new container in the same folder location, so that we get all pipelines as before.

Now the dashboard loads fine with all pipelines - no issues here.
But the scheduled pipeline go into 'scheduled' state and this repeats. It does not get into 'running' mode unless we manually trigger them. This is observed for most of the

[2022-09-12 04:09] #328 closed, assigned to nobody

[2022-09-14 11:36] Beutlin commented on #325
I've created one Pull-Request for this issue.
The problem is currently, that the new python protobuf version requires new recompiled files.
See: https://github.com/gaia-pipeline/pythonsdk/pull/4